{% extends 'ru/layoutRU.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'History/Directors/css/Directors.css' %}">
{% endblock %}


{% block title %}
    Директора
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <section class = "Director">
                <h1>Директора</h1>
                <h2>Садыков А.С. (1973-1987)</h2>
                <img src="{% static 'History/Directors/image/abidsadikov.png' %}" alt="">
                <p>Основатель Института Абид Садыкович Садыков (1913-1987) - химик-органик, организатор науки и образования,
                    общественный деятель, научный и государственный деятель, доктор химических наук, профессор,академик АН СССР
                    (1972 г.) и Узбекистана (1947 г.), заслуженный деятель науки и техники Узбекистана (1960 г.), Лауреат
                    Государственной премии Узбекистана им. Беруни (1979 г.), Герой Социалистического труда, награжден Орденом «Буюк
                    хизматлари учун» в 2002 г. (посмертно). </p>
                <p>Работал заведующим кафедрой химии природных соединений (1946-1974), директором Института химии АН УзССР
                    (1946-1950), ректором Ташкентского Государственного Университета (1958-1966), Президентом Академии Наук
                    Республики Узбекистан (1966-1984). </p>
                <p>Академик Абид Садыкович Садыков являлся одним из организаторов химической науки в Узбекистане. С его именем
                    связано применение в практику исследований природных соединений дикорастущей флоры Средней Азии. </p>
                <p>А.С. Садыков - инициатор исследований в новой области химической науки в Узбекистане - биоорганической химии,
                    новых подходов и воззрений, основанных на современных физико-химических и теоретических методах (спектроскопия,
                    квантовая химия, тонкий органический синтез, конформационный анализ, математическое моделирование химических
                    структур и свойств). </p>
                <p>Автор более 500 научных трудов, в том числе 7 монографий. </p>
                <p>Подготовил 10 докторов и более 80 кандидатов наук.</p>
            </section>
            
            <section class = "Director">
                <h2>Абдувахабов А.А. (1987-1993)</h2>
                <img src="{% static 'History/Directors/image/abduvaxobov.png' %}" alt="">
                <p>Доктор химических наук (1980), профессор (1981), академик (1995) Абдували Абдусаматович Абдусаматов – крупный
                    ученый в области органической, биоорганической и элементоорганической химии. </p>
                <p>Работал заведующим лабораторией Фосфорорганических соединений Отдела Биоорганической химии АН РУз (1977),
                    директором Института Биоорганической химии имени академика А.С.Садыкова (1987-1993), член Президиума АН РУз
                    (1992-200), Академик-секретарь (1987-1992), Вице-Президент АН РУз (1995-1997), награжден знаком “Изобретатель
                    России” и серебренной медалью ВДНХ России (1983, 1986), медалями “Ветеран труда” (1988), “Мустакиллик” (1992).
                </p>
                <p>Академик А.А.Абдувахобов создал научное направление и школу по синтезу (более 7000 соединений), исследованию
                    строения, стереохимии фосфорорганических соединений и механизма взаимодействия веществ с холинергическими
                    системами теплокровных и насекомых. </p>
                <p>Под руководством академика А.А.Абдувахабова впервые в Центрально-Азиатском регионе проведены исследования по
                    выделению, установлению структуры, синтезу, разработке препаративной формы и применению в полевых условиях
                    феромонов вредителей. В настоящее время феромоны хлопковой и озимой совок широко применяются на полях Республики
                    для защиты хлопчатника от вредителей.</p>
                <p>Научная деятельность Абдувахабова А.А. включена в биографический выпуск “Кто есть кто в науке и технике”,
                    выпущенным в США (1996).</p>
                <p>Автор более 300 научных трудов, в том числе 5 монографий, 10 авторских свидетельств и патентов.</p>
                <p>Подготовил 7 докторов и 27 кандидатов наук.</p>
            </section>

            <section class = "Director">
                <h2>Салихов Ш.И.(1993-2022) </h2>
                <img src="{% static 'History/Directors/image/Salixov.jpg' %}" alt="">
                <p>Шавкат Исмаилович Салихов — советский и узбекский учёный в области биоорганической химии, доктор
                    биологических наук, профессор, академик Академии наук Узбекистана (1995). Родился 12 декабря 1944 г.
                    в Ташкенте. Окончил Ташкентский государственный университет (1967). Доктор биологических наук
                    (1984), профессор (1989), академик АН РУз (1995). Заслуженный деятель науки Республики Узбекистан
                    (1998), иностранный член АН КНР (2017). Награжден Орденами «Эл-юрт Хурмати» (2008), «Мехнат шухрати»
                    (2014), Премия «Международное сотрудничество в области науки и технологий-2017» (КНР).</p>
                <p>Заведующий лабораторией (1981), директор (1993—2006) Института биоорганической химии АН Узбекистана.
                    С марта 2006 по январь 2017 г. президент Академии наук Республики Узбекистан. Сенатор Олий Мажлиса
                    Республики Узбекистан (2006-2017). Директор Института биоорганической химии АН РУз (2017-2022).</p>
                <p>Широко известен в мире науки работами в области биоорганической химии и биотехнологии, является одним
                    из основателей школы белковой химии в Республике. Его научные труды по исследованию белков и
                    пептидов из ядов животных признаны широким научным сообществом. Под руководством Салихова Ш.И.
                    разработана и внедрена новая технология выделения госсипола. Создан ряд лекарственных препаратов –
                    антихламидийный препарат Гозалидон, кровоостанавливающий препарат Лагоден, кровезаменитель Салгивин,
                    противовоспалительный препарат Апикапсалвин, иммуномодулирующий препарат Тимоптин, препарат Рагосин
                    – противовирусный препарат для лечения вирусных гепатитов В, С, Д и препарат Рутан – противовирусный
                    препарат для лечения коронавирусной инфекции COVID-19 средней степени тяжести и с поражением легких
                    до 30%, а также против всех штаммов гриппа для взрослых.</p>
                <p>Академия Наук Китайской Народной Республики присудила академику Салихову Ш.И. "Премию международного
                    научного сотрудничества Китайской академии наук " в 2016 году за выдающийся вклад в области науки и
                    технологий, плодотворное сотрудничество с Академией наук КНР, подготовку талантливых ученых и за
                    важную роль в повышении уровня научных исследований, инноваций и развития Китайской Академии наук,
                    путем подготовки инновационных талантов и высококвалифицированных ученых; за вклад в организацию и
                    реализацию крупных научных проектов. </p>
                <p>Академик Салихов Шавкат Исмаилович в 2017 г. избран иностранным членом Китайской академии наук за
                    научные достижения и вклад в развитие науки и техники в Китае. Ш.И. Салихов стал первым
                    узбекистанцем и вторым учёным из стран СНГ, избранным в академики Китайской академии наук.</p>
                <p>Автор более 350 научных трудов, в том числе 2 монографий, 56 изобретений, получил более 50 патентов.
                </p>
                <p>Подготовил 9 докторов и 26 кандидатов наук.</p>
            </section>
        </div>
    </div>
{% endblock %}