{% extends 'ru/layoutRU.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'History/History/css/History.css' %}">
{% endblock %}

{% block title %}
    История института
{% endblock %}




{% block content %}
    <div class = "conteiner">
        <section class = "History">
            <div>
                <h1>История</h1>
                <p> Институт Биоорганической химии был учрежден Президиумом Академии Наук Республики Узбекистан в июле 1977 года на
                    базе организованного в 1973 году Отдела биоорганической химии АН РУз. Время, предшествовавшее созданию
                    Института, совпало с началом бурного развития нового направления в химии – биоорганической химии, использующей
                    для выяснения взаимосвязи между структурой биологически важных соединений и их функций в живой клетке. Методы
                    органической химии, фундаментальные работы в области физико-химической биологии и биоорганической химии заложили
                    основы современной биотехнологии. </p>
                <p> Создание Института и его развитие неразрывно связано с именем известного ученого-химика академика Абид
                    Садыковича Садыкова, который был организатором и директором Института со дня его основания. В 1987 году
                    Институту было присвоено имя этого ученого в знак признания его выдающихся заслуг в развитии биоорганической
                    химии в Узбекистане.</p>
                <p> Академик Абид Садыкович Садыков является одним из организаторов химической науки в Республике Узбекистан. С его
                    именем связано развитие исследований по химии природных соединений, биологически активных соединений
                    растительного и животного происхождения. А.С. Садыков был инициатором исследований в новой области химической
                    науки в Узбекистане – биоорганической химии, новых подходов и воззрений, основанных на современных
                    физико-химических и теоретических методах.</p>
                <p> На базе лаборатории и кафедры химии природных соединений химического факультета Ташкентского Государственного
                    Университета, в 1973 г. создан Отдел биоорганической химии, ставшего в 1977 г. Институтом биоорганической химии
                    Академии наук. Этому институту в 1988 г., после кончины А.Садыкова, было по праву присвоено имя академика А.С.
                    Садыкова. Основным направлением Института явилось изучение веществ природного происхождения. Базой для развития
                    фундаментальных исследований служили дикорастущая флора Центральной Азии и, такая ценная техническая культура,
                    как хлопчатник. Из различных видов растений выделено и всесторонне изучено большое число новых соединений, в том
                    числе около 80 алкалоидов хинолизидинового ряда (алкалоиды групп спартеина, матрина, цитизина) и более 30
                    алкалоидов изохинолинового и тропонолового ряда (алкалоиды группы колхицина, алло- и люмипроизводные колхицина),
                    основания группы дипиридила.</p>
                <p> В деятельности Института биоорганической химии, в центре внимания, были проблемы, связанные со структурным и
                    функциональным изучением важнейших биополимеров, нейротоксинов и физиологически активных веществ ядов животных
                    Средней Азии, а также низкомолекулярных белков и вторичных метаболитов растительного происхождения. Были
                    проведены фундаментальные исследования новых высокоспецифичных токсинов, выделенных из ядов членистоногих
                    различных видов, с целью изучения их структуры, механизма действия и применения в качестве «инструментов» для
                    нейрофизиологических исследований (акад. Ш.И.Салихов). Применение ряда изученных высокоспецифичных нейротоксинов
                    позволило раскрыть механизмы некоторых жизненно важных процессов, происходящих в живых клетках, связанных с
                    особенностями структурной и молекулярной организации биологических мембран.</p>
                <p> Проведены глубокие исследования структурных особенностей сложных внутриклеточных образований (комплексы
                    рибосомальных белков с РНК, нуклеогистоны, хроматин животных клеток), специфика белково-нуклеиновых
                    взаимодействий в которых определяет регуляцию реализации генетической информации в клетках. Установлена роль
                    конформационных превращений в изменении химического строения, как самих ядерных белков, так и функционально
                    значимых областей генома. Получены три линии гибридов, продуцирующих моноклональные антитела к различным
                    антигенам: лектиноподобным и мембранным белкам хлопчатника, низкомолекулярному нейропептиду. Выведен целый ряд
                    клеточных линий, устойчивых к метотрексату и изучен механизм резистентности (проф. В.Б. Леонтьев, к.х.н. Ю.С.
                    Мангутова).</p>
                <p> Особое внимание было обращено на проведение целенаправленного синтеза физиологически активных соединений на
                    основе алкалоидов и родственных им гетероциклов. Разработаны и оптимизированы условия синтеза большого
                    количества производных фосфора, предложен ассиметрический метод синтеза эфиров фосфорной и карбаминовой кислот,
                    содержащих алкалоиды и азотсодержащие гетороциклы (акад. А.А.Абдувахабов, проф. Д.Н.Далимов). Было синтезировано
                    более 300 новых веществ на основе алкалоидов и эфиров фосфорной кислоты, многие из которых оказались
                    биологически активными веществами со специфическими свойствами. Среди них – иодметилат (N-b-ацетоксиэтил) –
                    морфолина, рекомендованный к применению в качестве субстрата холинэстеразы. </p>
                <p> Проведены исследования по изучению влияния физиологически активных соединений на структуру и функцию
                    биологических и искусственных мембран. Установлены причины токсического действия фосфорорганических и
                    гетероциклических соединений с пестицидной активностью, связанные с нарушениями в структуре биомембран (акад.
                    Арипов Т.Ф).</p>
                <p> Исключительно плодотворными оказались исследования хлопчатника, начатые Абид Садыковичем Садыковым. Из различных
                    генеративных и вегетативных органов хлопчатника было выделено более 100 индивидуальных соединений и среди них
                    органические аминокислоты, углеводы, высокомолекулярные углеводороды и спирты, многочисленные полифенольные
                    соединения (проф. А.И.Исмаилов). </p>
                <p> По инициативе А.С. Садыкова в Институте в 1983 г. были начаты работы по генетической и клеточной инженерии
                    хлопчатника, направленные на создание таких форм хлопчатника, которые позволят перевести традиционную
                    сельскохозяйственную науку на рельсы биотехнологического производства новых сортов. Развитие современных
                    технологий и широкомасштабные исследования ученых в области геномики хлопчатника привели к достижению
                    значительных результатов, внесших огромный вклад в производство хлопка. </p>
                <p>Под руководством А.С.Садыкова в Институте получили развитие исследования по разработке биологических методов
                    защиты
                    растений с использованием феромонов насекомых. Осуществлены синтезы феромонов важнейших вредителей хлопчатника –
                    хлопковой и озимой совок, хлопковой моли, карадрины, восклицательной совки, а также яблоневой плодожорки и др.
                    Перспективным является широкое применение феромонных ловушек против основных вредителей хлопчатника, зерна и
                    продовольственных запасов. Основным результатом этих работ является практическое применение их в сельском
                    хозяйстве.</p>
                <p> В Институте в течение ряда лет под руководством А.С. Садыкова проводилась работа по бактериальному выщелачиванию
                    металлов из руд и концентратов. Выделен ряд штаммов микроорганизмов, обладающих различной физиологической
                    активностью. Изучены физико-биологические особенности популяций тионовых бактерий, выделенных разработанным в
                    Институте методом. Разработана технология бактериального выщелачивания металлов из упорных золотосодержащих
                    концентратов с целью обогащения последних по основному продукту. В последующем эти работы продолжены в Институте
                    микробиологии АН РУз (Сагдиева М.Г., Куканова С.И.).</p>
                <p> Академик Абдувахабов Абдували Абдусаматович возглавил Институт с 1987 по 1993 гг. Абдувахабов А.А. – крупный
                    исследователь в области органической, биоорганической и элементорганической химии. Под его руководством
                    проведены фундаментальные исследования по синтезу различных новых (фосфор) органических (свыше 7000) соединений,
                    установлению строения, стереохимии, изучению механизма взаимодействия веществ с холинергическими системами
                    теплокровных и насекомых. В результате исследований выявлены синергисты применяемых против вредителей
                    сельскохозяйственных культур пестицидов различной природы. </p>
                <p> Впервые в Центрально-Азиатском регионе под руководством Абдувахабова А.А. начались исследования по выделению,
                    установлению структуры, синтезу, разработке препаративной формы и применению в полевых условиях феромонов
                    вредителей. В результате исследований разработаны методы синтеза двухкомпонентного полового феромона хлопковой
                    совки, компонентов полового феромона озимой совки, яблоневой плодожорки, комнатной мухи, озмой совки,
                    восклицательной совки и др. вредителей, определены оптимальные соотношения компонентов и созданы препаративные
                    формы. В настоящее время феромоны хлопковой и озимой совок широко применяются на полях Республики для защиты
                    хлопчатника от вредителей. Полученные научные результаты признаны научным сообществом: научная деятельность
                    Абдувахабова А.А. включена в биографический выпуск “Кто есть кто в науке и технике”, выпущенным в США.</p>
                <p> Основным направлением исследований в лаборатории было синтез и изучение структурно-функциональных зависимостей
                    природных и синтетических физиологически активных соединений, а также их модификация. Основными объектами
                    являлись низкомолекулярные биорегуляторы природного (феромоны, аттрактанты, алкалоиды и другие соединения,
                    влияющие на жизненно важные функции растений и животных) и синтетического (фосфорорганические соединения,
                    вещества, содержащие двойные связи, различной конформации, аналоги природных соединений) происхождения.</p>
                <p> Академик Салихов Шавкат Исмаилович возглавил Институт с 1994 по 2006 гг. и с января 2017 года по настоящее
                    время. </p>
                <p> Салихов Шавкат Исмаилович – широко известен в мире науки работами в области биоорганической химии и
                    биотехнологии, является одним из основателей школы белковой химии в Республике. </p>
                <p> Научные исследования академика Салихова Ш.И. направлены на проблемы, связанные со структурным и функциональным
                    изучением биологически активных соединений. В сотрудничестве с учениками проведены глубокие фундаментальные
                    исследования новых высокоспецифичных токсинов, выделенных из ядов членистоногих различных видов, с целью
                    изучения их структуры, механизма действия и применения в качестве «инструментов» для нейрофизиологических
                    исследований. Выделено более 50 физиологически активных белков и пептидов, обладающих токсическим действием. Для
                    15 из них установлена химическая структура. Проведенные исследования высокоспецифичных токсинов, выделенных из
                    ядов членистоногих различных видов, позволили приблизиться к пониманию механизмов жизненно важных процессов,
                    происходящих в живых клетках, связанных с особенностями структурной и молекулярной организации биологических
                    мембран. Практическим завершением исследований было создание антисывороток против ядов кобры, скорпиона,
                    каракурта, где в качестве антител использованы выделенные нейротоксины.</p>
                <p> Важные результаты получены по изучению структуры и функции гормонсвязывающих белков хлопчатника при исследовании
                    процессов роста и развития хлопчатника. Выделены рецепторы фитогормонов из хлопчатника и изучены их
                    физико-химические свойства, доказана их регуляторная роль в опадании листьев хлопчатника. Исследованы
                    молекулярные механизмы процессов, происходящих при дефолиации хлопчатника. На основе этих исследований
                    разработаны критерии скрининга соединений с дефолирующей и ростстимулирующей активностью.</p>
                <p>Впервые установлена роль терпеноидов растений семейства Malvaceae, в инсекто- и фунгитоксичности растений. Из
                    Malva sylvestris выделен и идентифицирован новый фитоалексин Malvon A. Разработан способ оценки резистентности
                    хлопчатника к хлопковой совке.</p>
                <p>Под руководством академика Салихова Ш.И. впервые начаты систематические исследования катионных пептидов в семенах
                    и проростках растений эндемичных для Центральной Азии, с целью установления молекулярных механизмов проявления
                    антимикробной и антигрибной активности растений. В результате, из растений, эндемичных для Центральной Азии,
                    выделены пептиды, которые представляют интерес и перспективность использования их в генетической инженерии
                    сельскохозяйственных культур. Выделены и исследованы липид-переносящие белки (ЛПБ), проявляющие фунгицидную
                    активность и участвующие в биогенезе мембран, хитина и в защитных реакциях растений против атаки патогенов.
                    Впервые проведено систематическое исследование физико-химических характеристик, антимикробной и инсектицидной
                    активностей биоцидных пептидов из семян Malvaceae и традиционных пищевых растений. </p>
                <p>Из растительного сырья выделено более 20 гомогенных пептидов, обладающих фитопатогенной активностью. Определены
                    их молекулярные параметры и аминокислотная последовательность. Установлена их фитопатогенная активность.
                    Полученные пептиды представляют интерес в качестве маркеров при создании трансгенных сортов хлопчатника. </p>
                <p>Изучены структура и функция пептидов из семян седаны, разработана фармацевтическая композиция и испытана ее
                    противоожоговая и ранозаживляющая активность. Разработана технология получения лекарственной композиции,
                    содержащей полипептиды из семян седаны. Установлено, что полученная композиция по тканерегенерирующей и
                    ранозаживляющей активности превосходит существующие зарубежные аналоги.</p>
                <p>Проведен цикл исследований по выделению и биоскринингу биологически активных соединений, проявляющих
                    противовирусную активность. Раскрыты механизмы противовирусного, антихламидийного, иммуномодули¬рующего,
                    противоспидового действий биологически активных соединений полифенольной природы. Изучен химический состав
                    полифенолов свыше 70 растений, относящихся к семействам Annacardeaceae, Geranaceae, Punicaceae, Euphorbeaceae,
                    Malvaceae и др. Из них выделено свыше 150 веществ, более 20 из которых оказались новыми, ранее не описанными в
                    литературе, соединениями. По результатам этих исследований, впервые разработаны оригинальные противовирусные,
                    противовоспалительные, кровеостанавливающие и другой активности препараты, которые нашли применение в
                    медицинской практике нашей Республики: «Таблетки Рагосина 0,05 г» № 12 – для лечения вирусных гепатитов В, С, D;
                    «Гозалидон таблетки 0,05» - антихламидийный препарат; «Мазь мегосина 1%» - антигерпетическое средство; «Лагоден
                    для инъекции» - кровоостанавливающий препарат; Рутан и Госситан – противогриппозные препараты; Гетасан и Пунитан
                    – противоСПИДовые препараты; Провидин – антигипоксический препарат; Госфен – противоопухолевый препарат;
                    Апикапсалвин – противоспалительный препарат; Тимоптин – иммуномодулятор; Эритим – антианемический препарат;
                    Кальцитонин – гипокальцемическое средство; Афлан – нестероидный противовоспалительный препарат; Биокор -
                    противоопухолевый белковый препарат; Кардин - для профилактики тромбообразования.</p>
                <p>Под руководством Салихова Ш.И. разработан новый подход в синтезе феромонов хлопковой совки. В Институте на
                    экспериментальной базе организовано производство комплектов феромонных ловушек против хлопковой и озимой совок,
                    где ежегодно производится в количестве более 1 млн штук. Институт с 1997г. полностью обеспечивает
                    хлопководческие хозяйства Республики комплектами феромонных ловушек хлопковой и озимой совок, тем самым
                    освобождает Республику от их импорта и экономит ежегодно более 1,5 млн. долларов США.</p>
                <p>Под руководством Салихова Ш.И. впервые в Республике разработана технология производства семенного картофеля на
                    основе элитных классов на основе клеточных технологий. В настоящее время данная технология успешно внедряется в
                    Республике. </p>
                <p>Академик Салихов Ш.И. придает большое значение развитию международного сотрудничества, в том числе в рамках
                    международных научно-технических программ с научными организациями Германии, Народной Республики Китая,
                    Республики Корея, России и других стран мира. </p>
                <p>Академик Тураев Аббасхан Собирханович директор Институт с 2006 по 2017 гг. </p>
                <p>А.С.Тураевым создана научная школа по химическому и медико-биологическому исследованию полисахаридов и
                    гидрофильных макромолекулярных систем, получению на их основе лекарственных средств направленного действия и
                    хирургических изделий, с заданными свойствами. Он известен своими глубокими фундаментальными исследованиями,
                    обогатившими науку - биоорганическая химия, новыми закономерностями модификации полисахаридов, синтеза
                    гидрофильных макромолекулярных систем и установлением механизма взаимодействия этих систем с живым организмом.
                </p>
                <p>А.С.Тураевым проводятся комплексные исследования по целенаправленной химической модификации полисахаридов -
                    целлюлозы, пектина, галактанов, амилозы и гидрофильных сополимеров, акрилового ряда. На их основе получены
                    макромолекулярные системы с различными функциональными группами и молекулярными параметрами, в том числе
                    межмолекулярно - сшитые, сильно набухающие гели. В результате этих исследований созданы биосовместимые,
                    малотоксичные, рассасывающиеся и не рассасывающиеся в живом организме макромолекулярные системы, на основе
                    которых разработаны лекарственные средства и оригинальные хирургические изделия. Исследованием химической и
                    надмолекулярной структур, молекулярных параметров макромолекулярной основы и изучением их медико-биологических
                    свойств (фармакологических, биохимических, гистологических, морфологических, включая «структура-свойства»),
                    установлен ряд специфических особенностей их взаимодействия с живым организмом. Впервые доказано, что при
                    имплантации в организм любого вида целлюлозы и сополимеров, межмолекулярно- сшитых производных акриловой
                    кислоты, ответной реакцией организма является образование плотной соединительной ткани, т.е. имплантант не
                    подвержен рассасыванию, тогда как гидрофильные (карбоксиметильная, карбоксильная и др.) производные целлюлозы,
                    начиная со степени замещения 0.1, подвергаются полному рассасыванию, в зависимости от молекулярных параметров и
                    надмолекулярной структуры. Эти фундаментальные исследования легли в основу создания рассасывающихся и не
                    рассасывающихся хирургических изделий, на основе целлюлозы и ее производных, а также акриловых сополимеров.</p>
                <p>Под руководством А.С. Тураева начато новое научное направление - исследование биологической функции полисахаридов
                    и их модифицированных аналогов, имеющих протеогликана-подобную структуру и создание на их основе нового
                    поколения антибактериальных и противовирусных препаратов. Последнее связано тем, что инфицирование клеток
                    организма патогеном протекает за счет взаимодействия гликопротеинов патогена (узнающие домены) с
                    протеогликанами, локализованными на мембране здоровой клетки, за счет пространственной комплементарности
                    взаимодействующих структур, как «ключ – замок». Впервые, на основе полисахаридов с полианионной структурой,
                    получены протеогликано-подобные структуры, комплементарные к гликопротеинам вирусов лейкемии, гепатита С и ВИЧ.
                    Установлено, что наиболее выраженной противовирусной активностью обладают сульфатированные β-глюканы, по
                    сравнению с сульфатированными α-глюканами. </p>
                <p>А.С.Тураевым разработаны и внедрены в медицинскую практику новые оригинальные лекарственные препараты и
                    хирургические изделия: хирургические нити, гемостатические материалы, макромолекулярные терапевтические
                    препараты, лекарственные препараты мягкой формы, эмболизирующие материалы.</p>
            </div>
        </section>
    </div>
    
{% endblock %}