{% extends 'ru/layoutRU.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Management/css/Management.css' %}">
{% endblock %}


{% block title %}
    Директора
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <h1>Руководство института</h1>

            <section class="Supervisor">
                <h2>Директор Института биоорганической химии АН РУз</h2>
                <h2>Тураев Аббасхан Сабирханович</h2>
                <img src="{% static 'Management/image/Turayev.jpg' %}" alt="">
                <p>Аббасхан Сабирханович Тураев – доктор химических наук (1993), профессор (1994), академик Академии
                    наук Республики Узбекистан (2018). Заслуженный изобретатель и рационализатор Республики Узбекистан
                    (2003 г.), орден «Фидокорона хизматлари учун» (2012).</p>
                <p>Окончил Ташкентский государственный университет (1970). </p>
                <p>Заведующий лабораторией Научно-исследовательского института химии и технологии хлопковой целлюлозы
                    (1984 - 1993), заведующий лабораторией Института биоорганической химии АН РУз (1993 - 1996),
                    заместитель директора по научный работе Института биоорганической химии АН РУз (1996 – 2006),
                    директор Института биоорганической химии АН РУз (2012 - 2017), заместитель директора по научный
                    работе Института биоорганической химии АН РУз (2017-2022).</p>
                <p>С 2022 г. по настоящее время директор Института биоорганической химии.</p>
                <p>Под руководством А.С. Тураева проводились комплексные исследования по целенаправленной химической
                    модификации полисахаридов - целлюлозы, пектина, галактоманнанов, амилозы и гидрофильных сополимеров,
                    акрилового ряда. На их основе получены макромолекулярные системы с различными функциональными
                    группами и молекулярными параметрами. В результате этих исследований разработаны и внедрены в
                    медицинскую практику более двадцати новых оригинальных лекарственных препаратов (Сафинол, Сульфогель
                    - антикоагулянты, Савинал - кровезаменитель, Нитроцел - антиангинальный, Биомайрин -
                    противотуберкулезный, Полижель - гель для УЗИ, Тимогель, Бактоцел - ранозаживляющие, Флудигель -
                    против дерматитов,) и хирургические изделия: нити рассасывающиеся (Кацелон) и не рассасывающиеся
                    (Биолон Ра, Биолон Ре, Биолон Рs), рассасывающиеся гемостатические материалы (Гемоцел, Гемогубка,
                    Биоплант) и изделия контактирующие с кровью (Материал эмболизирующий полимерный, Гелецел и Хлороцел
                    для лечения гнойных ран). Пять из этих препаратов производятся фармацевтическими предприятиями РУз,
                    на основе лицензионных соглашений.</p>
                <p>Автор более 350 научных трудов, 21 авторских свидетельств, 35 патентов. </p>
                <p>Подготовил 4 докторов и 16 кандидатов наук.</p>
            </section>

            <section class="Supervisor">
                <h2>Заместитель директора по науке</h2>
                <h2>Ощепкова Юлия Игоревна</h2>
                <img src="{% static 'Management/image/yulia.jpg' %}" alt="">
                <p>Ощепкова Юлия Игоревна – доктор химических наук (2016), профессор (2023).</p>
                <p>Медаль «Шухрат» (2020), Нагрудный знак «Лидер инновационных идей» (2022).</p>
                <p>Окончила Национальный Университет Узбекистана (2005).</p>
                <p>Заведующий лабораторией Химии Белков и пептидов (2017 -2022).</p>
                <p>С 2022 г. по настоящее время заместитель директора по науке Института биоорганической химии.</p>
                <p>Ю.И. Ощепкова является специалистом по биоорганической химии, в частности в области химии
                    низкомолекулярных биорегуляторов, белков и пептидов (изучение структуры и механизма функции)
                    растений и животных.</p>
                <p>Ю.И. Ощепковой впервые был выделен и исследован ряд новых антимикробных пептидов из семян и
                    проростков чернушки посевной Nigella sativa. Полученные данные по липид-переносящему белку Ns-LTP1
                    зарегистрированы в базе данных EMBL p86527. На основе антимикробных пептидов из семян чернушки
                    создана фармацевтическая композиция «Седанил», обладающая ранозаживляющими свойствами в случае
                    гнойно-септических осложнений при термических ожогах и механических ранах. Разработана комплексная
                    технология использования семян Nigella sativa малоотходным способом, позволяющая повысить
                    рентабельность работы и снизить себестоимость продукции. Из остатков семян налажена технология
                    получения липолитического фермента «Ниглезим», вызывающего гидролитическое расщепление (разложение с
                    участием воды) жиров растительного и животного происхождения. Данный фермент планируется выпускать в
                    качестве биологически активной добавки в виде кишечнорастворимых таблеток и капсул. </p>
                <p>Под ее руководством разработана технология получения субстанции кардиолипинового антигена и внедрен в
                    производство набор реагентов Антиген кардиолипиновый для реакции микропреципитации «АгКл-РМП»,
                    предназначенный для использования в клинико-диагностических лабораториях для диагностики сифилиса.
                </p>

                <p>Автор 240 публикаций (из них 50 за рубежом), 10 патентов, 2 товарных знаков.</p>
                <p>Подготовила 3 докторов философии PhD.</p>

            </section>

            <section class="Supervisor">
                <h3>Заместитель директора по хозяйственной части</h3>
                <h2></h2>
            </section>
        </div>
    </div>
{% endblock %}