{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Laboratories/ExperTechnol/css/ExperTechnol.css' %}">
{% endblock %}


{% block title %}
    ЭТЛuz
{% endblock %}


{% block content %}
<div class = "conteiner">
    {% block LEVE_LB %}
        {% if LEVE_LB %}
            <div class = "LEVE_LB_div">
                <button class = "LEVE_LB_btn">Tarix</button>
                <button class = "LEVE_LB_btn">Tadqiqotlar</button>
                <button class = "LEVE_LB_btn">Natijalar</button>
                <button class = "LEVE_LB_btn">Yutuqlar</button>
                <button class = "LEVE_LB_btn">Xodimlar</button>
                <button class = "LEVE_LB_btn">Nashrlar</button>
                <button class = "LEVE_LB_btn">Loyiha</button>
                <button class = "LEVE_LB_btn">Xizmatlar</button>
                <button class = "LEVE_LB_btn">Kontaktlar</button>
            </div>
            <link rel = "stylesheet" href = "{% static 'Laboratories/Laboratories.css' %}">
        {% endif %}
    {% endblock %}

    <h1 class = "Name_html_now">Eksperimental va texnologik</h1>

    <div class = "Laboratories_content">
        <h2>Амалий тажриба технологияси лабораторияси</h2>
        <h3>Лаборатория мудири</h3>
        <h2>Махмудов Сардор Джалилович, т.ф.н. (PhD)</h2>
    
        <h3>Лаборатория тарихи</h3>
        <p>Амалий тажриба технологияси лабораторияси 1973 йилда ташкил топган. Бу даврлар мобайнида лабораторияга к.ф.н.
            Ишбаев А.И., иқ.ф.д. Кахаров А.К., к.ф.н. Хаитбаев Х.Х., т.ф.д. Саидахмедов У.А., к.ф.д. Ташмухамедов М.С.
            ва к.ф.д., проф. Мавлянов С.М. мудирлик қилганлар. Лаборатория таркибида тажриба ишлаб чиқариш тармоғи мавжуд
            бўлиб, лабораторияда яратилган технологиялар асосида препаратларнинг синов партиялари ишлаб чиқарилади. Тажриба
            ишлаб чиқариш тармоғи 1981 йил ташкил этилган ва 1994 йилдан бошлаб, амалий тажриба технологияси лабораторияси
            таркибига қўшилган. Ушбу тармоқни Юсупов А.Ш. (1980-1987 йй.); Иногамов К. (1987-1989 йй.); Исаев Н.Х.
            (1990-1994 йй.); Абдурахманов Ш.Д. (1994-1996 йй.) бошқарганлар. Тармоқда Ўзбекистон ёғ-мой саноати
            чиқиндиларидан самарали препаратларни ишлаб чиқаришнинг чиқиндисиз технологиялари яратилиб, у асосида «Инверт
            эмульсион эритмалар учун эмульгатор олиш усули» (Исаев Х.И., Абдурахманов А.С.), гудрон олиш жараёни (госсипол
            смоласи) ишлаб чиқилган. Шунингдек, ўргимчак канага қарши суспензион олтингугурт (Исаев Х.И., Юсупов А.Ш.),
            қишлоқ хўжалиги экинлари зараркунандалари учун феромон синтезининг биринчи ва иккинчи босқичи технологияси ишлаб
            чиқарилган (Холбеков О.Х.). Лабораторияда пахта чигитидан госсипол ажратиб олиш ва техник госсипол, фармакопея
            госсиполи, госсипол антранилати, техник госсиполдан госсипол сирка кислотаси олиш технологияларини яратиш бўйича
            кенг кўламли изланишлар олиб борилган (Ибрагимов А.С., Отаргалиев Т., Саидахмедов У.А., Салихов Ш.И.). </p>
        <p> Амалий тажриба технологияси лабораториясида гидролитик ферментларга нисбатан юқори игибирловчи фаолликка ҳамда
            турли типдаги антиаритмик самарага эга бўлган лупинин ҳосилаларини синтез қилиш бўйича ҳам тадқиқотлар
            ўтказилган (Хаитбаев Х.Х., Абдувахабов А.А.). Ҳозирда ҳам лаборатория тиббиёт, қишлоқ ҳўжалиги, озиқ-овқат
            саноати ва бошқа соҳалар учун институт миқёсида яратилган препаратларни ишлаб чиқариш ва саноатга татбиқ этиш
            технологияларини такомиллаштириш каби илмий ишлари билан шуғулланиб келмоқда. Профессор С.М. Мавлянов
            раҳбарлигида 120 дан ортиқ ўсимликларнинг полифеноллари таркиби ва биологик фаоллиги ўрганилиб, улар асосида бир
            қатор вирусларга қарши самарали препаратлар яратилди.</p>
    </div>
    

    {% if LEVE_LB %}
        <script src = "{% static 'Laboratories/ExperTechnol/js/ExperTechnol.js' %}"></script>
    {% endif %}
    
</div>

{% endblock %}