{% extends 'uz/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Laboratories/Pharmacology/css/Pharmacology.css' %}">
{% endblock %}


{% block title %}
    ЛФСБАВuz
{% endblock %}


{% block content %}
<div class = "conteiner">
    {% block LEVE_LB %}
        {% if LEVE_LB %}
            <div class = "LEVE_LB_div">
                <button class = "LEVE_LB_btn">Tarix</button>
                <button class = "LEVE_LB_btn">Tadqiqotlar</button>
                <button class = "LEVE_LB_btn">Natijalar</button>
                <button class = "LEVE_LB_btn">Yutuqlar</button>
                <button class = "LEVE_LB_btn">Xodimlar</button>
                <button class = "LEVE_LB_btn">Nashrlar</button>
                <button class = "LEVE_LB_btn">Loyiha</button>
                <button class = "LEVE_LB_btn">Xizmatlar</button>
                <button class = "LEVE_LB_btn">Kontaktlar</button>
            </div>
            <link rel = "stylesheet" href = "{% static 'Laboratories/Laboratories.css' %}">
        {% endif %}
    {% endblock %}

    <h1 class = "Name_html_now">Farmakologiya va biologik faol moddalar skriningi</h1>

    <div class = "Laboratories_content">
        <h2>Биологик фаол моддалар фармакология ва скрининги лабораторияси</h2>
        <h3>Лаборатория мудири</h3>
        <h2>Тагайалиева Нигора Абдунабиевна</h2>

        <h2>Лаборатория тарихи</h2>
        <p>Фармакология лабораторияси 1973 йилда Биоорганик кимё бўлими қошида ташкил этилган. Лабораториянинг биринчи
            мудири профессор Носиров Санжар Ҳайдарович 1994 йилгача раҳбарлик қилди. Унинг раҳбарлигида фармакология
            ихтисослиги бўйича 20 нафардан ортиқ фан номзодлари тайёрланди, ўша даврда амалга оширилган муҳим тадқиқот
            натижалари мужассамлашган 2 та монография чоп этилди. Лаборатория ходимлари РФ Ленинград Санитария-гигиена
            тиббиёт институти, 2-Тиббиёт институти, Россия ТФА Гамалей номидаги эпидемиология ва микробиология институти,
            А.В.Вишневский номидаги Жарроҳлик институти "Фармакология ва умумий токсикология" кафедраси етук мутахасислари
            раҳбарлигида ўз малакаларини оширганлар. Лабораторияга 1994 йилдан бошлаб тиббиёт фанлари доктори Есонбоев
            Чингиз Елдорович, 2002 йилдан тиббиёт фанлари номзоди Мирзаев Юрий Рахмонович раҳбарлик қилди. 2010-2018
            йилларда лабораторияга кимё фанлари номзоди иммунолог-кимёгар олим Иноғомов Ўткир Қудратуллаевич раҳбарлик
            қилди.</p>
        <p>Ташкил этилган кунидан то бугунги кунгача мазкур лабораторияда Биоорганик кимё институти ходимлари томонидан
            ҳайвон ва ўсимликлардан олинган бирикмалар: алкалоидлар, полифеноллар, детерпеноидлар, флавоноидлар, оқсиллар ва
            пептидлар, полисахаридлар, шунингдек комплексларининг фармакологик фаоллигини ўрганиш бўйича тадқиқотлар ўтказиб
            келмоқда.</p>
        <p>Лабораториянинг тўлиқ ишлаши учун институтни тўрт турдаги экспериментал ҳайвонлар (қуёнлар, Гвинея чўчқалари,
            каламушлар, сичқонлар) билан таъминлайдиган виварий ишлайди.</p>
    </div>

    {% if LEVE_LB %}
        <script src = "{% static 'Laboratories/Pharmacology/js/Pharmacology.js' %}"></script>
    {% endif %}
    
</div>

{% endblock %}