{% extends 'ru/layoutRU.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Laboratories/BiolActiv/css/BiolActiv.css' %}">
{% endblock %}


{% block title %}
    ЛБАМСru
{% endblock %}


{% block content %}
<div class = "conteiner">
    {% block LEVE_LB %}
        {% if LEVE_LB %}
            <div class = "LEVE_LB_div">
                <button class = "LEVE_LB_btn">История</button>
                <button class = "LEVE_LB_btn">Исследования</button>
                <button class = "LEVE_LB_btn">Результаты</button>
                <button class = "LEVE_LB_btn">Достижения</button>
                <button class = "LEVE_LB_btn">Сотрудники</button>
                <button class = "LEVE_LB_btn">Публикации</button>
                <button class = "LEVE_LB_btn">Проекты</button>
                <button class = "LEVE_LB_btn">Услуги</button>
                <button class = "LEVE_LB_btn">Контакты</button>
            </div>
            <link rel = "stylesheet" href = "{% static 'Laboratories/Laboratories.css' %}">
        {% endif %}
    {% endblock %}

    <h1 class = "Name_html_now">Биологически активные макромолекулярные системы</h1>

    <div class = "Laboratories_content">
        <h2>Лаборатория биологически активных макромолекулярных систем</h2>
        <h3>(Химия полисахаридов)</h3>
        <h3>Заведующий лабораторией - д.х.н., вед.н.с. Шомуротов Шавкат Абдуганиевич</h3>
        <h3>+998(97)7140639; shsha@mail.ru</h3>
        
        <h2>История</h2>

        <p>После расформирования Научно-исследовательского института Химии и технологии хлопковой целлюлозы, в 1993 году
            лаборатория «Химии целлюлозы» вошла в состав Института биоорганической химии АН РУз. В лаборатории под
            руководством д.х.н., академика А.С. Тураева проведены исследования по изучению особенностей химического
            превращения полисахаридов и их производных, молекулярной и надмолекулярной структуры, синтетических гидрофильных
            полимеров, по созданию новых эффективных препаратов, лекарственных средств направленного действия и
            хирургических изделий, с заданными свойствами на их основе для применения в медицинской практике и сельском
            хозяйстве. В 2012 году лаборатория «Химия целлюлозы» переименована в лабораторию «Химии полисахаридов». В
            настоящее время лаборатория занимается изучением макромолекулярных систем, их структуры и биологической
            активности, установлением взаимосвязи «структура-активность», созданием макромолекулярных систем для медицины,
            фармацевтики и сельского хозяйства. В связи с этим лаборатория переименована в лабораторию «Биологических
            активных макромолекулярных систем».</p>
    </div>

    {% if LEVE_LB %}
        <script src = "{% static 'Laboratories/BiolActiv/js/BiolActivRU.js' %}"></script>
    {% endif %}
    
</div>

{% endblock %}