{% extends 'ru/layoutRU.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Laboratories/ExperTechnol/css/ExperTechnol.css' %}">
{% endblock %}


{% block title %}
    ЭТЛru
{% endblock %}


{% block content %}
<div class = "conteiner">
    {% block LEVE_LB %}
        {% if LEVE_LB %}
            <div class = "LEVE_LB_div">
                <button class = "LEVE_LB_btn">История</button>
                <button class = "LEVE_LB_btn">Исследования</button>
                <button class = "LEVE_LB_btn">Результаты</button>
                <button class = "LEVE_LB_btn">Достижения</button>
                <button class = "LEVE_LB_btn">Сотрудники</button>
                <button class = "LEVE_LB_btn">Публикации</button>
                <button class = "LEVE_LB_btn">Проекты</button>
                <button class = "LEVE_LB_btn">Услуги</button>
                <button class = "LEVE_LB_btn">Контакты</button>
            </div>
            <link rel = "stylesheet" href = "{% static 'Laboratories/Laboratories.css' %}">
        {% endif %}
    {% endblock %}

    <h1 class = "Name_html_now">Экспериментально-технологическая</h1>

    <div class = "Laboratories_content">
        <h2>Экспериментально-технологическая лаборатория</h2>
        <h3>Руководитель</h3>
        <h2>Махмудов Сардор Джалилович, к.т.н. (PhD)</h2>

        <h3>История лаборатории</h3>
        <p>Экспериментально - технологическая лаборатория создана в 1973 году. За время существования лаборатории ею
            заведовали к.х.н. Ишбаев А.И., д.экн.н. Кахаров А.К., к.х.н. Хаитбаев Х.Х., д.т.н. Саидахмедов У.А., д.х.н.
            Ташмухамедов М.С. и д.х.н. проф. Мавлянов С.М. В составе лаборатории функционирует опытное производство, где
            вырабатываются опытные партии препаратов по разработанной в лаборатории технологии на полупромышленных
            установках. Опытно-производственное предприятие (ОПП) организовано в 1981 году, а с 1994 года оно функционирует
            в составе ЭТЛ. Руководителями ОПП были Юсупов А.Ш. (с 1980 по 1987гг.); Иногамов К. (с 1987-1989 гг.); Исаев
            Н.Х. (с 1990 по 1994 гг.); Абдурахманов Ш. Д. (с 1994 по 1996 гг.). В этом подразделении института
            разрабатывалась безотходная технология получения эффективных препаратов из отходов масложировой промышленности
            Узбекистана. В результате этих изысканий разработан «Способ получения эмульгатора для инвертных эмульсионных
            растворов» (Исаев Х.И., Абдурахманов А.С.), разработан процесс получения гудрона (госсиполовой смолы), который
            явился основой для создания препаратов ОГС-5 и ИКМ-1, обладающих противовирусной активности по отношению к
            вирусам картофеля и томата. К.х.н. Исаевым Х.И. и к.т.н. Юсуповым А.Ш. разработан способ получения
            суспендированной серы против паутинного клеща.</p>
        <p> Большой объем работ проведен по разработке технологии выделения госсипола из семьян хлопчатника и получения
            технического госсипола, фармакопейного госсипола, антранилат госсипола, госсиполуксусной кислоты (ГУК) из
            технического госсипола способом холодного прессования (Ибрагимов А.С., Отаргалиев Т., Саидахмедов У.А., Салихов
            Ш.И.). В ЭТЛ разработаны методы синтеза ряда производных лупинина с высокой ингибирующей активностью по
            отношению к гидролитическим ферментам и антиаритмическим эффектом различного типа действия (Хаитбаев Х.Х.,
            Абдувахабов А.А.). Разработана упрощенная технология получения субстанций госсипола, батридена, мегосина
            (Саидахмедов У.А., Ибрагимов А.С.), а также первой и второй стадии технологии синтеза феромонов озимой и
            хлопковой совок (Холбеков О.Х.). В своих исследованиях лаборатория традиционно занимается разработкой и
            внедрением в производство технологии препаратов, созданных в институте - для медицины, пищевой промышленности и
            др. Под руководством д.х.н. Мавлянова С.М. проведены исследования химического состава полифенолов свыше 120
            растений. Изучен химический состав и биологическая активность выделенных соединений и на основе этих соединений
            создан ряд эффективных противовирусных препаратов.</p>
    </div>
    

    {% if LEVE_LB %}
        <script src = "{% static 'Laboratories/ExperTechnol/js/ExperTechnolRU.js' %}"></script>
    {% endif %}
    
</div>

{% endblock %}