{% extends 'ru/layoutRU.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Laboratories/Pharmacology/css/Pharmacology.css' %}">
{% endblock %}


{% block title %}
    ЛФСБАВru
{% endblock %}


{% block content %}
<div class = "conteiner">
    {% block LEVE_LB %}
        {% if LEVE_LB %}
            <div class = "LEVE_LB_div">
                <button class = "LEVE_LB_btn">История</button>
                <button class = "LEVE_LB_btn">Исследования</button>
                <button class = "LEVE_LB_btn">Результаты</button>
                <button class = "LEVE_LB_btn">Достижения</button>
                <button class = "LEVE_LB_btn">Сотрудники</button>
                <button class = "LEVE_LB_btn">Публикации</button>
                <button class = "LEVE_LB_btn">Проекты</button>
                <button class = "LEVE_LB_btn">Услуги</button>
                <button class = "LEVE_LB_btn">Контакты</button>
            </div>
            <link rel = "stylesheet" href = "{% static 'Laboratories/Laboratories.css' %}">
        {% endif %}
    {% endblock %}

    <h1 class = "Name_html_now">Фармакология и скрининг биологически активных веществ</h1>

    <div class = "Laboratories_content">
        <h2>Лаборатория фармакологии и скрининга биологически активных веществ</h2>
        <h3>Заведующая лабораторией</h3>
        <h3>кандидат биологических наук</h3>
        <h2>Тагайалиева Нигора Абдунабиевна</h2>
    
        <h2>История лаборатории</h2>
        <p>Лаборатория фармакологии была создана в 1973 году на базе Отдела Биоорганической химии при АН Узбекистана. В
            1977 году отдел был переименован в Институт биоорганической химии. Первым заведующим лабораторией
            фармакологии был профессор Насыров Санжар Хайдарович, который руководил лабораторией до 1994 года. Под его
            руководством были подготовлены более 20 кандидатов наук по специальности фармакология, выпущены 2
            монографии. Сотрудники лаборатории проходили обучение на кафедре «Фармакологии с общей токсикологией»
            Ленинградского санитарно-гигиенического медицинского института России под руководством профессора
            П.П.Денисенко, 2-го Мединститута, под руководством профессора Ефимова С.А., Института эпидемиологии и
            микробиологии им. Н.Ф. Гамалея АМН Россия, Институт хирургии им. А.В. Вишневского АМН и др. С 1994 года
            лабораторией руководил доктор медицинских наук Исанбаев Чингиз Ильдарович, в 2002-2010 года к.м.н. Мирзаев
            Юрий Рахманович, в 2010-2018 - к.х.н. Иногамов Уткир Кудратуллаевич. </p>
        <p> С момента создания по настоящее время лаборатория проводила исследования фармакологической активности
            различных соединений животного и растительного происхождения, полученных сотрудниками Института
            биоорганической химии: алколоидов, полифенолов, детерпеноидов, флавоноидов, белков и пептидов,
            полисахаридов, а также их комплексов, получинтетических аналогов, конъюгатов и др.</p>
        <p> Для полноценной работы лаборатории функционирует виварий, обеспечивающий институт четырьмя видами подопытных
            животных: кролики, морские свинки, крысы, мыши.
        </p>
    </div>

    {% if LEVE_LB %}
        <script src = "{% static 'Laboratories/Pharmacology/js/PharmacologyRU.js' %}"></script>
    {% endif %}
    
</div>

{% endblock %}