{% extends 'en/layoutEN.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'History/Directors/css/Directors.css' %}">
{% endblock %}


{% block title %}
    Directors
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <section class = "Director">
                <h1>Directors</h1>

                <h2>Sadykov A.S. (1973-1987)</h2>
                <img src="{% static 'History/Directors/image/abidsadikov.png' %}" alt="">
                <p>The founder of the Institute, Abid Sadykovich Sadykov (1913-1987) - organic chemist, organizer of
                    science and education, public figure, scientist and statesman, Doctor of Chemical Sciences,
                    professor, academician of the Academy of Sciences of the USSR (1972) and Uzbekistan (1947), Honored
                    Worker of Science and Technology of Uzbekistan (1960), Laureate of the State Prize of Uzbekistan
                    named after. Beruni (1979), Hero of Socialist Labor, awarded the Order of Buyuk Khizmatlari Uchun in
                    2002 (posthumously).</p>
                <p>He worked as head of the department of chemistry of natural compounds (1946-1974), director of the
                    Institute of Chemistry of the Academy of Sciences of the UzSSR (1946-1950), rector of Tashkent State
                    University (1958-1966), President of the Academy of Sciences of the Republic of Uzbekistan
                    (1966-1984).</p>
                <p>Academician Abid Sadykovich Sadykov was one of the organizers of chemical science in Uzbekistan. His
                    name is associated with the practical application of research into natural compounds of wild flora
                    of Central Asia.</p>
                <p>A.S. Sadykov is the initiator of research in a new field of chemical science in Uzbekistan -
                    bioorganic chemistry, new approaches and views based on modern physicochemical and theoretical
                    methods (spectroscopy, quantum chemistry, fine organic synthesis, conformational analysis,
                    mathematical modeling of chemical structures and properties).</p>
                <p>Author of more than 500 scientific papers, including 7 monographs.</p>
                <p>Trained 10 doctors and more than 80 candidates of science.</p>
            </section>
            
            <section class = "Director">
                <h2>Abduvakhabov A.A. (1987-1993)</h2>
                <img src="{% static 'History/Directors/image/abduvaxobov.png' %}" alt="">
                <p>Doctor of Chemical Sciences (1980), professor (1981), academician (1995) Abduvali Abdusamatovich
                    Abdusamatov is a prominent scientist in the field of organic, bioorganic and organoelement
                    chemistry.</p>
                <p>He worked as head of the laboratory of organophosphorus compounds of the Department of Bioorganic
                    Chemistry of the Academy of Sciences of the Republic of Uzbekistan (1977), director of the Institute
                    of Bioorganic Chemistry named after Academician A.S. Sadykov (1987-1993), member of the Presidium of
                    the Academy of Sciences of the Republic of Uzbekistan (1992-200), Academic Secretary (1987-1992),
                    Vice-President of the Academy of Sciences of the Republic of Uzbekistan (1995-1997), awarded the
                    “Inventor of Russia” badge and the silver medal of the Exhibition of Economic Achievements of Russia
                    (1983, 1986), medals “Veteran of Labor” (1988), “Mustakillik” (1992).</p>
                <p>Academician A.A. Abduvakhobov created a scientific direction and school of synthesis (more than 7000
                    compounds), study of the structure, stereochemistry of organophosphorus compounds and the mechanism
                    of interaction of substances with the cholinergic systems of warm-blooded animals and insects.</p>
                <p>Under the leadership of Academician A.A. Abduvakhabov, for the first time in the Central Asian
                    region, research was carried out on the isolation, establishment of structure, synthesis,
                    development of a preparative form and use of pest pheromones in field conditions. Currently, cotton
                    and winter bollworm pheromones are widely used in the fields of the Republic to protect cotton from
                    pests.</p>
                <p>Scientific activity of Abduvakhabov A.A. included in the biographical issue “Who's Who in Science and
                    Technology”, published in the USA (1996).</p>
                <p>Author of more than 300 scientific works, including 5 monographs, 10 copyright certificates and
                    patents.</p>
                <p>Trained 7 doctors and 27 candidates of science.</p>
            </section>

            <section class = "Director">
                <h2>Salikhov Sh.I. (1993-2022)</h2>
                <img src="{% static 'History/Directors/image/Salixov.jpg' %}" alt="">
                <p>Shavkat Ismailovich Salikhov is a Soviet and Uzbek scientist in the field of bioorganic chemistry,
                    Doctor of Biological Sciences, professor, academician of the Academy of Sciences of Uzbekistan
                    (1995). Born on December 12, 1944 in Tashkent. Graduated from Tashkent State University (1967).
                    Doctor of Biological Sciences (1984), professor (1989), academician of the Academy of Sciences of
                    the Republic of Uzbekistan (1995). Honored Scientist of the Republic of Uzbekistan (1998), foreign
                    member of the Chinese Academy of Sciences (2017). Awarded the Orders “El-Yurt Khurmati” (2008),
                    “Mehnat Shukhrati” (2014), and the “International Cooperation in the Field of Science and Technology
                    2017” Award (PRC).</p>
                <p>Head of the laboratory (1981), director (1993-2006) of the Institute of Bioorganic Chemistry of the
                    Academy of Sciences of Uzbekistan. From March 2006 to January 2017, President of the Academy of
                    Sciences of the Republic of Uzbekistan. Senator of the Oliy Majlis of the Republic of Uzbekistan
                    (2006-2017). Director of the Institute of Bioorganic Chemistry of the Academy of Sciences of the
                    Republic of Uzbekistan (2017-2022).</p>
                <p>He is widely known in the world of science for his work in the field of bioorganic chemistry and
                    biotechnology, and is one of the founders of the school of protein chemistry in the Republic. His
                    scientific works on the study of proteins and peptides from animal venoms are recognized by the
                    wider scientific community. Under the leadership of Salikhov Sh.I. A new technology for the
                    isolation of gossypol has been developed and implemented. A number of drugs have been created - the
                    anti-chlamydial drug Gozalidon, the hemostatic drug Lagoden, the blood substitute Salgivin, the
                    anti-inflammatory drug Apikapsalvin, the immunomodulating drug Timoptin, the drug Ragosin - an
                    antiviral drug for the treatment of viral hepatitis B, C, D and the drug Rutan - an antiviral drug
                    for the treatment of coronavirus infection COVID- 19 of moderate severity and with lung damage up to
                    30%, as well as against all strains of influenza for adults.</p>
                <p>The Academy of Sciences of the People's Republic of China awarded Academician Salikhov Sh.I.
                    "International Scientific Cooperation Award of the Chinese Academy of Sciences" in 2016 for
                    outstanding contributions in the field of science and technology, fruitful cooperation with the
                    Chinese Academy of Sciences, training of talented scientists and for playing an important role in
                    raising the level of scientific research, innovation and development of the Chinese Academy of
                    Sciences through training innovative talents and highly qualified scientists; for his contribution
                    to the organization and implementation of major scientific projects.</p>
                <p>Academician Shavkat Ismailovich Salikhov was elected a foreign member of the Chinese Academy of
                    Sciences in 2017 for scientific achievements and contributions to the development of science and
                    technology in China. Sh.I. Salikhov became the first Uzbek citizen and the second scientist from the
                    CIS countries to be elected to the academicianship of the Chinese Academy of Sciences.</p>
                <p>Author of more than 450 scientific papers, including 2 monographs, 56 inventions, received more than
                    50 patents.</p>
                <p>Trained 9 doctors and 26 candidates of science.</p>
            </section>
        </div>
    </div>
{% endblock %}