{% extends 'main/layoutEN.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'History/History/css/History.css' %}">
{% endblock %}

{% block title %}
    History of the Institute
{% endblock %}




{% block content %}
    <div class = "conteiner">
        <section class = "History">
            <div>
                <h1>History of the institute</h1>
                <p> The Institute of Bioorganic Chemistry was established by the Presidium of the Academy of Sciences of
                    the Republic of Uzbekistan in July 1977 on the basis of the Department of Bioorganic Chemistry of
                    the Academy of Sciences of the Republic of Uzbekistan, organized in 1973. The time preceding the
                    creation of the Institute coincided with the beginning of the rapid development of a new direction
                    in chemistry - bioorganic chemistry, which is used to clarify the relationship between the structure
                    of biologically important compounds and their functions in a living cell. Methods of organic
                    chemistry, fundamental work in the field of physical-chemical biology and bioorganic chemistry laid
                    the foundations of modern biotechnology.</p>

                <p> The creation of the Institute and its development is inextricably linked with the name of the famous
                    chemist Academician Abid Sadykovich Sadykov, who was the organizer and director of the Institute
                    from the day of its foundation. In 1987, the Institute was named after this scientist in recognition
                    of his outstanding services in the development of bioorganic chemistry in Uzbekistan.</p>

                <p> Academician Abid Sadykovich Sadykov is one of the organizers of chemical science in the Republic of
                    Uzbekistan. His name is associated with the development of research in the chemistry of natural
                    compounds, biologically active compounds of plant and animal origin. A.S. Sadykov was the initiator
                    of research in a new field of chemical science in Uzbekistan - bioorganic chemistry, new approaches
                    and views based on modern physicochemical and theoretical methods.</p>

                <p> On the basis of the laboratory and department of chemistry of natural compounds of the Faculty of
                    Chemistry of Tashkent State University, in 1973 the Department of Bioorganic Chemistry was created,
                    which in 1977 became the Institute of Bioorganic Chemistry of the Academy of Sciences. This
                    institute in 1988, after the death of A. Sadykov, was rightfully given the name of Academician A.S.
                    Sadykova. The main direction of the Institute was the study of substances of natural origin. The
                    basis for the development of fundamental research was the wild flora of Central Asia and such a
                    valuable industrial crop as cotton. A large number of new compounds have been isolated and
                    comprehensively studied from various plant species, including about 80 alkaloids of the
                    quinolizidine series (alkaloids of the sparteine, matrine, and cytisine groups) and more than 30
                    alkaloids of the isoquinoline and troponol series (alkaloids of the colchicine group, allo- and
                    lumi-derivatives of colchicine), bases of the dipyridyl group.</p>

                <p> In the activities of the Institute of Bioorganic Chemistry, the focus was on problems associated
                    with the structural and functional study of the most important biopolymers, neurotoxins and
                    physiologically active substances of animal poisons in Central Asia, as well as low molecular weight
                    proteins and secondary metabolites of plant origin. Fundamental studies of new highly specific
                    toxins isolated from the venoms of arthropods of various species were carried out in order to study
                    their structure, mechanism of action and use as “tools” for neurophysiological research (Academician
                    Sh.I. Salikhov). The use of a number of studied highly specific neurotoxins has made it possible to
                    reveal the mechanisms of some vital processes occurring in living cells associated with the
                    peculiarities of the structural and molecular organization of biological membranes.</p>

                <p> In-depth studies have been carried out on the structural features of complex intracellular
                    formations (complexes of ribosomal proteins with RNA, nucleohistones, chromatin of animal cells),
                    the specificity of protein-nucleic acid interactions in which determines the regulation of the
                    implementation of genetic information in cells. The role of conformational transformations in
                    changing the chemical structure of both nuclear proteins themselves and functionally significant
                    regions of the genome has been established. Three lines of hybrids were obtained that produce
                    monoclonal antibodies to various antigens: lectin-like and membrane proteins of cotton, and low
                    molecular weight neuropeptide. A number of cell lines resistant to methotrexate have been developed
                    and the mechanism of resistance has been studied (Prof. V.B. Leontyev, Ph.D. Yu.S. Mangutova).</p>

                <p> Particular attention was paid to the targeted synthesis of physiologically active compounds based on
                    alkaloids and related heterocycles. Conditions for the synthesis of a large number of phosphorus
                    derivatives have been developed and optimized, an asymmetric method for the synthesis of esters of
                    phosphoric and carbamic acids containing alkaloids and nitrogen-containing heterocycles has been
                    proposed (Academician A.A. Abduvakhabov, Prof. D.N. Dalimov). More than 300 new substances based on
                    alkaloids and esters of phosphoric acid were synthesized, many of which turned out to be
                    biologically active substances with specific properties. Among them is morpholine iodomethylate
                    (N-b-acetoxyethyl), recommended for use as a cholinesterase substrate.</p>

                <p> Studies have been conducted to study the influence of physiologically active compounds on the
                    structure and function of biological and artificial membranes. The causes of the toxic effect of
                    organophosphorus and heterocyclic compounds with pesticide activity, associated with disturbances in
                    the structure of biomembranes, have been established (academician T.F. Aripov).</p>

                <p> The cotton research started by Abid Sadykovich Sadykov turned out to be exceptionally fruitful. More
                    than 100 individual compounds were isolated from various generative and vegetative organs of cotton,
                    including organic amino acids, carbohydrates, high molecular weight hydrocarbons and alcohols, and
                    numerous polyphenolic compounds (Prof. A.I. Ismailov).</p>

                <p> On the initiative of A.S. Sadykov at the Institute in 1983 began work on genetic and cellular
                    engineering of cotton, aimed at creating such forms of cotton that would allow traditional
                    agricultural science to be transferred to the biotechnological production of new varieties. The
                    development of modern technologies and large-scale research by scientists in the field of cotton
                    genomics have led to the achievement of significant results that have made a huge contribution to
                    cotton production.</p>

                <p> Under the leadership of A.S. Sadykov, research on the development of biological methods of plant
                    protection using insect pheromones was developed at the Institute. Syntheses of pheromones of the
                    most important cotton pests have been carried out - cotton and winter bollworms, cotton moths,
                    caradrine moths, bollworms, as well as codling moths, etc. The widespread use of pheromone traps
                    against the main pests of cotton, grain and food supplies is promising. The main result of these
                    works is their practical application in agriculture.</p>

                <p> At the Institute for a number of years under the leadership of A.S. Sadykov carried out work on
                    bacterial leaching of metals from ores and concentrates. A number of strains of microorganisms with
                    different physiological activities have been isolated. The physical and biological characteristics
                    of populations of thionic bacteria isolated by the method developed at the Institute were studied. A
                    technology has been developed for bacterial leaching of metals from refractory gold-containing
                    concentrates with the aim of enriching the latter in the main product. Subsequently, this work was
                    continued at the Institute of Microbiology of the Academy of Sciences of the Republic of Uzbekistan
                    (Sagdieva M.G., Kukanova S.I.).</p>

                <p> Academician Abduvakhabov Abduvali Abdusamatovich headed the Institute from 1987 to 1993.
                    Abduvakhabov A.A. – a major researcher in the field of organic, bioorganic and organoelement
                    chemistry. Under his leadership, fundamental research was carried out on the synthesis of various
                    new (phosphorus) organic (over 7000) compounds, the establishment of structure, stereochemistry, and
                    the study of the mechanism of interaction of substances with the cholinergic systems of warm-blooded
                    animals and insects. As a result of the research, synergists of pesticides of various natures used
                    against crop pests were identified.</p>

                <p> For the first time in the Central Asian region under the leadership of Abduvakhabov A.A. Research
                    began on the isolation, establishment of structure, synthesis, development of a preparative form and
                    use of pest pheromones in field conditions. As a result of research, methods for the synthesis of
                    two-component sex pheromone of the cotton bollworm, components of the sex pheromone of the winter
                    bollworm, codling moth, housefly, bollworm, bollworm and other pests have been developed, the
                    optimal ratios of the components have been determined and preparative forms have been created.
                    Currently, cotton and winter bollworm pheromones are widely used in the fields of the Republic to
                    protect cotton from pests. The scientific results obtained are recognized by the scientific
                    community: scientific activity of Abduvakhabov A.A. included in the biographical issue “Who's Who in
                    Science and Technology,” published in the USA.</p>

                <p> The main direction of research in the laboratory was the synthesis and study of the
                    structure-functional relationships of natural and synthetic physiologically active compounds, as
                    well as their modification. The main objects were low-molecular bioregulators of natural
                    (pheromones, attractants, alkaloids and other compounds that affect the vital functions of plants
                    and animals) and synthetic (organophosphorus compounds, substances containing double bonds of
                    various conformations, analogues of natural compounds) origin.</p>

                <p> Academician Shavkat Ismailovich Salikhov headed the Institute from 1994 to 2006. and from January
                    2017 to the present.</p>

                <p> Shavkat Ismailovich Salikhov is widely known in the world of science for his work in the field of
                    bioorganic chemistry and biotechnology, and is one of the founders of the school of protein
                    chemistry in the Republic.</p>

                <p> Scientific research of academician Salikhov Sh.I. are aimed at problems associated with the
                    structural and functional study of biologically active compounds. In collaboration with students,
                    in-depth fundamental studies of new highly specific toxins isolated from the venoms of arthropods of
                    various species were carried out in order to study their structure, mechanism of action and use as
                    “tools” for neurophysiological research. More than 50 physiologically active proteins and peptides
                    with toxic effects have been identified. For 15 of them, the chemical structure has been
                    established. Conducted studies of highly specific toxins isolated from the venoms of arthropods of
                    various species have allowed us to come closer to understanding the mechanisms of vital processes
                    occurring in living cells associated with the peculiarities of the structural and molecular
                    organization of biological membranes. The practical completion of the research was the creation of
                    antisera against the venoms of cobra, scorpion, and karakurt, where isolated neurotoxins were used
                    as antibodies.</p>

                <p> Important results were obtained from the study of the structure and function of cotton
                    hormone-binding proteins in the study of the processes of growth and development of cotton.
                    Receptors of phytohormones from cotton were isolated and their physicochemical properties were
                    studied, their regulatory role in the fall of cotton leaves was proven. The molecular mechanisms of
                    the processes occurring during cotton defoliation have been studied. Based on these studies,
                    screening criteria for compounds with defoliating and growth-stimulating activity were developed.
                </p>

                <p> For the first time, the role of terpenoids from plants of the Malvaceae family in the insecto- and
                    fungitoxicity of plants has been established. A new phytoalexin, Malvon A, was isolated and
                    identified from Malva sylvestris. A method for assessing cotton resistance to bollworm has been
                    developed.</p>

                <p> Under the leadership of Academician Salikhov Sh.I. For the first time, systematic studies of
                    cationic peptides in the seeds and seedlings of plants endemic to Central Asia have begun, with the
                    aim of establishing the molecular mechanisms of the manifestation of antimicrobial and antifungal
                    activity of plants. As a result, peptides have been isolated from plants endemic to Central Asia
                    that are of interest and promising for their use in genetic engineering of crops. Lipid transfer
                    proteins (LPPs) have been isolated and studied, exhibiting fungicidal activity and participating in
                    the biogenesis of membranes, chitin, and in plant defense reactions against pathogen attack. For the
                    first time, a systematic study of the physicochemical characteristics, antimicrobial and
                    insecticidal activities of biocidal peptides from Malvaceae seeds and traditional food plants was
                    carried out.</p>

                <p> More than 20 homogeneous peptides with phytopathogenic activity have been isolated from plant
                    materials. Their molecular parameters and amino acid sequence were determined. Their phytopathogenic
                    activity has been established. The resulting peptides are of interest as markers for the creation of
                    transgenic cotton varieties.</p>

                <p> The structure and function of peptides from sedana seeds were studied, a pharmaceutical composition
                    was developed and its anti-burn and wound-healing activity was tested. A technology has been
                    developed for producing a medicinal composition containing polypeptides from sedana seeds. It has
                    been established that the resulting composition is superior to existing foreign analogues in terms
                    of tissue-regenerating and wound-healing activity.</p>

                <p> A series of studies has been carried out on the isolation and bioscreening of biologically active
                    compounds exhibiting antiviral activity. The mechanisms of antiviral, antichlamydial,
                    immunomodulatory, anti-AIDS actions of biologically active compounds of polyphenolic nature are
                    revealed. The chemical composition of polyphenols from over 70 plants belonging to the families
                    Annacardeaceae, Geranaceae, Punicaceae, Euphorbeaceae, Malvaceae, etc. was studied. Over 150
                    substances were isolated from them, more than 20 of which turned out to be new compounds not
                    previously described in the literature. Based on the results of these studies, original antiviral,
                    anti-inflammatory, hemostatic and other active drugs were developed for the first time, which have
                    found application in the medical practice of our Republic: “Ragosin tablets 0.05 g” No. 12 - for the
                    treatment of viral hepatitis B, C, D; “Gozalidon tablets 0.05” is an antichlamydial drug; “Megosina
                    ointment 1%” is an antiherpetic agent; “Suitable for injection” - a hemostatic drug; Rutan and
                    Gossitan are anti-influenza drugs; Getasan and Punitan are anti-AIDS drugs; Providin is an
                    antihypoxic drug; Gosfen is an antitumor drug; Apikapsalvin is an anti-inflammatory drug; Timoptin
                    is an immunomodulator; Erytim is an antianemic drug; Calcitonin is a hypocalcemic agent; Aflan is a
                    non-steroidal anti-inflammatory drug; Biocor is an antitumor protein drug; Cardin - for the
                    prevention of thrombosis.</p>

                <p> Under the leadership of Salikhov Sh.I. A new approach to the synthesis of bollworm pheromones has
                    been developed. At the Institute, on an experimental basis, the production of sets of pheromone
                    traps against cotton and winter bollworms has been organized, where more than 1 million pieces are
                    produced annually. Institute since 1997 fully provides the cotton-growing farms of the Republic with
                    sets of pheromone traps for cotton and winter bollworm, thereby freeing the Republic from their
                    import and saving more than 1.5 million US dollars annually.</p>

                <p> Under the leadership of Salikhov Sh.I. For the first time in the Republic, a technology for the
                    production of seed potatoes based on elite classes based on cellular technologies has been
                    developed. Currently, this technology is being successfully implemented in the Republic.</p>

                <p> Academician Salikhov Sh.I. attaches great importance to the development of international
                    cooperation, including within the framework of international scientific and technical programs with
                    scientific organizations in Germany, the People's Republic of China, the Republic of Korea, Russia
                    and other countries of the world.</p>

                <p> Academician Turaev Abbaskhan Sobirkhanovich Director of the Institute from 2006 to 2017.</p>

                <p> A.S. Turaev created a scientific school for the chemical and medical-biological study of
                    polysaccharides and hydrophilic macromolecular systems, and the production of targeted drugs and
                    surgical products on their basis with specified properties. He is known for his deep fundamental
                    research, which has enriched the science of bioorganic chemistry, new patterns of modification of
                    polysaccharides, the synthesis of hydrophilic macromolecular systems and the establishment of the
                    mechanism of interaction of these systems with a living organism.</p>

                <p> A.S. Turaev conducts comprehensive research on the targeted chemical modification of polysaccharides
                    - cellulose, pectin, galactans, amylose and hydrophilic copolymers, acrylic series. On their basis,
                    macromolecular systems with various functional groups and molecular parameters, including
                    intermolecular cross-linked, highly swelling gels, have been obtained. As a result of these studies,
                    biocompatible, low-toxicity, absorbable and non-absorbable macromolecular systems have been created,
                    on the basis of which medicines and original surgical products have been developed. By studying the
                    chemical and supramolecular structures, the molecular parameters of the macromolecular basis and the
                    study of their medical and biological properties (pharmacological, biochemical, histological,
                    morphological, including “structure-properties”), a number of specific features of their interaction
                    with a living organism have been established. It has been proven for the first time that when any
                    type of cellulose and copolymers, intermolecularly cross-linked derivatives of acrylic acid are
                    implanted into the body, the body’s response is the formation of dense connective tissue, i.e. the
                    implant is not subject to resorption, while hydrophilic (carboxymethyl, carboxyl, etc.) cellulose
                    derivatives, starting from a degree of substitution of 0.1, undergo complete resorption, depending
                    on the molecular parameters and supramolecular structure. These fundamental studies formed the basis
                    for the creation of absorbable and non-absorbable surgical products based on cellulose and its
                    derivatives, as well as acrylic copolymers.</p>

                <p> Under the leadership of A.S. Turaev, a new scientific direction has been started - the study of the
                    biological function of polysaccharides and their modified analogues having a proteoglycan-like
                    structure and the creation on their basis of a new generation of antibacterial and antiviral drugs.
                    The latter is due to the fact that infection of body cells by a pathogen occurs through the
                    interaction of pathogen glycoproteins (recognition domains) with proteoglycans localized on the
                    membrane of a healthy cell, due to the spatial complementarity of interacting structures, like a
                    “key and lock.” For the first time, based on polysaccharides with a polyanionic structure,
                    proteoglycan-like structures have been obtained that are complementary to the glycoproteins of
                    leukemia, hepatitis C and HIV viruses. It has been established that sulfated β-glucans have the most
                    pronounced antiviral activity compared to sulfated α-glucans.</p>

                <p> A.S. Turaev developed and introduced into medical practice new original drugs and surgical products:
                    surgical threads, hemostatic materials, macromolecular therapeutic drugs, soft drugs, embolic
                    materials.</p>
            </div>
        </section>
    </div>
    
{% endblock %}