{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fonts/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'layout/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'layout/css/media.css' %}">
    <link rel="icon" href="{% static 'layout/images/icon.png' %}">

    
    {% block style %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="nav__bar">
        <section class="conteiner" id="Logo_nav">
            <div class="logo">
                <a href="#!">
                    <img src="{% static 'layout/images/header/logo.png' %}" alt="">
                </a>
                <h3 class="Title_nav">
                    Institute of Bioorganic Chemistry named A.S. Sodikov
                    <span>Academy of Sciences of the Republic of Uzbekistan</span>
                </h3>
            </div>

            <div class="Contact_nav">
                <div class="Langlich_nav">
                    {% block language %}
                        {% for k, v in language.items %}
                            {% if k == "O'zb" %}
                                <a class="Langlich_link" href="{{ v }}"><img src="{% static "layout/images/header/uz.png" %}" alt="O'zbekcha">
                                    <span>{{ k }}</span></a>
                            {% elif k == "Рус" %}
                                <a class="Langlich_link" href="{{ v }}"><img src="{% static 'layout/images/header/ru.png' %}" alt="O'zbekcha">
                                    <span>{{ k }}</span></a>
                            {% else %}
                                <a class="Langlich_link" href="{{ v }}"><img src="{% static 'layout/images/header/en.png' %}" alt="O'zbekcha">
                                    <span>{{ k }}</span></a>
                            {% endif %}
                        {% endfor %}
                    {% endblock language %}
                </div>
                <input type="search" id="Search_nav" placeholder="Search">
            </div>

            <div class = "Thema_HTML">
                <input id = "Thema_HTML_Input" name = "radio_thema" type="radio">
                
                <div class="Thema_HTML_div">
                    <label id = "Thema_HTML_div_label" for="Thema_HTML_Input">
                        <i class="fas fa-moon"></i>
                    </label>
                </div>
            </div>
        </section>
        <section id="Title_menu_nav">
            
            <input type="checkbox" id = "Menu_btn">
            <label for="Menu_btn" id = "Menu_btn_label">
                <i class = "fas fa-server"></i>
            </label>

            
            
            <menu class="conteiner" id="menu">
                <label for="Menu_btn" id = "OnMenu_btn_label">
                    <i class = "fas fa-server"></i>
                </label>

                <a class = "Home_icon" href = "{% url 'homeEn' %}"><i class = "fas fa-home"></i></a>

                <div class="dropdown">
                    <button class="dropbtn">About the institute <i class="fas fa-chevron-down dropdown_icon"></i></button>
                    <div class="dropdown-content">

                        <div class="dropdown2">
                            <button class="dropbtn2">Laboratories</button>
                            <div class="dropdown-content2" style = "width: 400px">
                                <a href = "{% url 'Chemistry_of_proteins_and_peptidesEN' %}">Chemistry of proteins and peptides</a>  
                                <a href = "{% url 'BiolActivEN' %}">Biologically active macromolecular systems</a>
                                <a>Enzyme chemistry</a>
                                <a>Plant cytoprotectors</a>
                                <a>Low molecular weight biologically active compounds</a>
                                <a>Complex connections</a>
                                <a href = "{% url 'ExperTechnolEN' %}">Experimental and technological</a>
                                <a href = "{% url 'PharmacologyEN' %}">Pharmacology and screening of biologically active substances</a>
                                <a href = "{% url 'KletkaTechEN' %}">Cellular technologies of vegetable and plant crops</a>
                                <a href = "{% url 'DevelopmentPermitEN' %}">Development of natural medicines based on biopolymers</a>
                            </div>
                        </div>

                        
                        <div class="dropdown2">
                            <button class="dropbtn2">History</button>
                            <div class="dropdown-content2">
                                <a href = "{% url 'HistoryEN' %}">History of the Institute</a>  
                                <a href = "{% url 'DirectorsEN' %}">Directors</a>
                            </div>
                        </div>

                        <a href="{% url 'ManagementEN' %}">Leaderships</a>
                        <a href="{% url 'SciDirectionEN' %}">Scientific direction</a>
                        



                        <a href="#!">Achievements</a>
                        <a href="#!">Applied developments and patents</a>
                        <a href="#!">Cooperation</a>
                        <a href="#!">Publications</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Academic Council <i class="fas fa-chevron-down dropdown_icon"></i></button>
                    <div class="dropdown-content">
                        <a href="#!">Composition</a>
                        <a href="#!">Meetings</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Press Service <i class="fas fa-chevron-down dropdown_icon"></i></button>
                    <div class="dropdown-content">
                        <a href="#!">Events</a>
                        <a href="#!">Announcements</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Scientific council<i class="fas fa-chevron-down dropdown_icon"></i></button>
                    <div class="dropdown-content">
                        <a href="#!">Ссылка 10</a>
                        <a href="#!">Ссылка 11</a>
                        <a href="#!">Ссылка 12</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Dissertation Council <i class="fas fa-chevron-down dropdown_icon"></i></button>
                    <div class="dropdown-content">
                        <a href="#!">Composition</a>
                        <a href="#!">List of leading organizations</a>
                        <a href="#!">Information about defenses</a>
                        <a href="#!">Scientific seminar</a>
                        <a href="#!">Council of young scientists</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">CCO <i class="fas fa-chevron-down dropdown_icon"></i></button>
                    <div class="dropdown-content">
                        <a href="#!">List of equipment</a>
                        <a href="#!">Research methods</a>
                        <a href="#!">Services</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Trade Union <i class="fas fa-chevron-down dropdown_icon"></i></button>
                    <div class="dropdown-content">
                        <a href="#!">Ссылка 19</a>
                        <a href="#!">Ссылка 20</a>
                        <a href="#!">Ссылка 21</a>
                    </div>
                </div>
                
            </menu>
        </section>
    </nav>
    
    <div class = "MAIN" style = "">
        {% block GUI_left %}
            {% if list_GUI_left %}
                <ul class = "GUI_left">
                    {% for k, v in list_GUI_left.items %}
                        <li><a href = "{{ v }}">{{ k }}</a></li>
                    {% endfor %}
                </ul>
                <style>
                    .MAIN {
                        display: flex; flex-direction: row;  align-items: flex-start; justyfy-content: center;
                    }
                </style>
            {% endif %}
        {% endblock %} 
        
        {% block content %}
        {% endblock %}
    </div>
    

    <footer class="footer">
        <div class="footer_info conteiner">

            <ul class="footer_info_list">
                <li>
                    <h3>Info</h3>
                </li>
                <li><i class="fas fa-home"></i>
                    O'zbekiston, 100125,
                    Toshkent shahar, Mirzo
                    Ulug'bek, 83
                </li>
                <li><i class="fas fa-envelope"></i> info@biochem.uz</li>
            </ul>
            <div class="footer_info_contart">
                <ul>
                    <li>
                        <h3>Contact</h3>
                    </li>
                    <li><i class="fas fa-mobile-alt"></i> +998 (71) 262 35 40</li>
                    <li><i class="fas fa-mobile-alt"></i> +998 (71) 262 99 72</li>
                    <li><i class="fas fa-mobile-alt"></i> +998 (71) 262-70-71</li>

                </ul>
            </div>
            <div class="footer_info_Map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5991.0742257979755!2d69.34224262932024!3d41.340677860706165!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef52457a31bd9%3A0x6c09c925639a12e7!2z0JjQvdGB0YLQuNGC0YPRgiDQsdC40L7QvtGA0LPQsNC90LjRh9C10YHQutC-0Lkg0YXQuNC80LjQuCDQuNC80LXQvdC4INCw0LrQsNC00LXQvNC40LrQsCDQodC-0LTQuNC60L7QstCwINCeLtChLg!5e0!3m2!1sru!2s!4v1688042205604!5m2!1sru!2s"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </footer>

    <script src = "{% static 'layout/js/script.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>