{% extends 'en/layoutEN.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Management/css/Management.css' %}">
{% endblock %}


{% block title %}
    Management
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <h1>Institute management</h1>

            <section class="Supervisor">
                <h2>Director of the Institute of Bioorganic Chemistry of the Academy of Sciences of the Republic of
                    Uzbekistan</h2>
                <h2>Turaev Abbaskhan Sabirkhanovich</h2>
                <img src="{% static 'Management/image/Turayev.jpg' %}" alt="">
                <p>Abbaskhan Sabirkhanovich Turaev – Doctor of Chemical Sciences (1993), Professor (1994), Academician
                    of the Academy of Sciences of the Republic of Uzbekistan (2018). Honored Inventor and Innovator of
                    the Republic of Uzbekistan (2003), Order of the Fidokorona Khizmatlari Uchun (2012).</p>
                <p>Graduated from Tashkent State University (1970).</p>
                <p>Head of the laboratory of the Research Institute of Chemistry and Technology of Cotton Cellulose
                    (1984 - 1993), head of the laboratory of the Institute of Bioorganic Chemistry of the Academy of
                    Sciences of the Republic of Uzbekistan (1993 - 1996), Deputy Director for Scientific Work of the
                    Institute of Bioorganic Chemistry of the Academy of Sciences of the Republic of Uzbekistan (1996 -
                    2006), Director of the Institute of Bioorganic Chemistry Academy of Sciences of the Republic of
                    Uzbekistan (2012 - 2017), Deputy Director for Scientific Work of the Institute of Bioorganic
                    Chemistry of the Academy of Sciences of the Republic of Uzbekistan (2017-2022).</p>
                <p>From 2022 to the present, Director of the Institute of Bioorganic Chemistry.</p>
                <p>Under the leadership of A.S. Turaev conducted comprehensive research on the targeted chemical
                    modification of polysaccharides - cellulose, pectin, galactomannans, amylose and hydrophilic
                    copolymers, acrylic series. On their basis, macromolecular systems with various functional groups
                    and molecular parameters were obtained. As a result of these studies, more than twenty new original
                    drugs have been developed and introduced into medical practice (Safinol, Sulfogel - anticoagulants,
                    Savinal - blood substitute, Nitrocel - antianginal, Biomayrin - anti-tuberculosis, Polygel -
                    ultrasound gel, Timogel, Bactocel - wound healing, Fludigel - against dermatitis) and surgical
                    products: absorbable threads (Kacelon) and non-absorbable (Biolon Ra, Biolon Re, Biolon Rs),
                    absorbable hemostatic materials (Hemocel, Hemosponge, Bioplant) and products in contact with blood
                    (embolic polymer material, Geletcel and Chlorocel for treatment of purulent wounds). Five of these
                    drugs are produced by pharmaceutical enterprises of the Republic of Uzbekistan on the basis of
                    licensing agreements.</p>
                <p>Author of more than 350 scientific papers, 21 copyright certificates, 35 patents.</p>
                <p>Trained 4 doctors and 16 candidates of science.</p>
            </section>

            <section class="Supervisor">
                <h2>Deputy Director for Science</h2>
                <h2>Oshchepkova Yulia Igorevna</h2>
                <img src="{% static 'Management/image/yulia.jpg' %}" alt="">
                <p>Yulia Igorevna Oshchepkova – Doctor of Chemical Sciences (2016), Professor (2023).</p>
                <p>Medal “Shukhrat” (2020), Badge “Leader of Innovative Ideas” (2022).</p>
                <p>Graduated from the National University of Uzbekistan (2005).</p>
                <p>Head of the Laboratory of Chemistry of Proteins and Peptides (2017-2022).</p>
                <p>From 2022 to the present, Deputy Director for Science of the Institute of Bioorganic Chemistry.</p>
                <p>Yu.I. Oshchepkova is a specialist in bioorganic chemistry, in particular in the field of chemistry of
                    low-molecular bioregulators, proteins and peptides (study of the structure and mechanism of
                    function) of plants and animals.</p>
                <p>Yu.I. Oshchepkova was the first to isolate and study a number of new antimicrobial peptides from
                    seeds and seedlings of Nigella sativa. The obtained data on the lipid transfer protein Ns-LTP1 are
                    registered in the EMBL p86527 database. Based on antimicrobial peptides from nigella seeds, the
                    pharmaceutical composition “Sedanil” was created, which has wound-healing properties in the case of
                    purulent-septic complications in thermal burns and mechanical wounds. A comprehensive technology for
                    using Nigella sativa seeds in a low-waste manner has been developed, which makes it possible to
                    increase the profitability of the work and reduce the cost of production. From seed residues, a
                    technology has been developed for producing the lipolytic enzyme “Niglesim”, which causes hydrolytic
                    breakdown (decomposition with the participation of water) of fats of plant and animal origin. This
                    enzyme is planned to be produced as a dietary supplement in the form of enteric tablets and
                    capsules.</p>
                <p>Under her leadership, a technology for obtaining cardiolipin antigen substance was developed and a
                    set of reagents Cardiolipin Antigen for the microprecipitation reaction “AgCl-RMP” was introduced
                    into production, intended for use in clinical diagnostic laboratories for the diagnosis of syphilis.
                </p>

                <p>Автор 240 публикаций (из них 50 за рубежом), 10 патентов, 2 товAuthor of 240 publications (50 of them
                    abroad), 10 patents, 2 trademarks.арных знаков.</p>
                <p>Prepared 3 PhDs.</p>

            </section>

            <section class="Supervisor">
                <h3>Deputy Director for Economic Affairs</h3>
                <h2></h2>
            </section>
        </div>
    </div>
{% endblock %}