{% extends 'en/layoutEN.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'SciDirection/css/SciDirection.css' %}">
{% endblock %}


{% block title %}
    НаправленияEN
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <p> The goal and subject of the Institute’s activities is to study the relationship between the structure of vital
                biomolecules and their functional activity and to create breakthrough technologies for the production of new
                medicines for medicine, stimulants, plant protection products and other biological objects for agriculture and
                the food industry.</p>
            <p>Main directions of scientific research:</p>
            <ul>
                <li> creation (isolation, synthesis, modification) of highly effective biologically active compounds with
                    predetermined properties, on a synthetic basis and from plant and animal organisms;</li>
                <li> targeted organic synthesis of potential biologically active compounds.</li>
                <li> studying the mechanisms of action of biologically active compounds at the cellular and molecular levels and
                    identifying promising targets of their action;</li>
                <li> study of the structure and function of biologically active compounds of natural origin and their screening;
                </li>
                <li> development of methods for assessing the biosafety of drugs;</li>
                <li> creation of original medicines and new technologies for the production of generic medicines;</li>
                <li> creation and development of high-tech technologies for processing products from animal and plant raw
                    materials;</li>
                <li> development of certified methods for assessing the biosafety of medicines, food products and plant
                    protection chemicals;</li>
                <li> study of the molecular mechanisms of induction of plant phytoimmunity under the influence of biotic and
                    abiotic factors on the development processes of agricultural crops and the creation of effective compounds
                    for the targeted regulation of reproduction, growth and development;</li>
                <li> creation of environmentally friendly growth stimulants and plant protection products and agricultural
                    products.</li>
            </ul>
        </div>
    </div>
{% endblock %}