{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'History/Directors/css/Directors.css' %}">
{% endblock %}


{% block title %}
    Direktorlar
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <section class = "Director">
                <h1>Direktorlar</h1>

            
                <h2>Sodiqov A.S. (1973-1987)</h2>
                <img src="{% static 'History/Directors/image/abidsadikov.png' %}" alt="">
                <p>Institut asoschisi Abid Sodiqovich Sodiqov (1913-1987) - organik kimyogar, fan va maorif
                    tashkilotchisi, jamoat, olim va davlat arbobi, kimyo fanlari doktori, professor, SSSR Fanlar
                    akademiyasi akademigi (1972). va Oʻzbekiston (1947), Oʻzbekistonda xizmat koʻrsatgan fan va texnika
                    arbobi (1960), nomidagi Oʻzbekiston Davlat mukofoti laureati. Beruniy (1979), Sotsialistik Mehnat
                    Qahramoni, 2002 yilda (vafotidan keyin) “Buyuk xizmatlari uchun” ordeni bilan mukofotlangan.</p>
                <p>Tabiiy birikmalar kimyosi kafedrasi mudiri (1946-1974), O‘zbekiston SSR Fanlar akademiyasi Kimyo
                    instituti direktori (1946-1950), Toshkent Davlat universiteti rektori (1958-1966) lavozimlarida
                    ishlagan. Oʻzbekiston Respublikasi Fanlar akademiyasi prezidenti (1966—1984).</p>
                <p>Akademik Abid Sodiqovich Sodiqov O‘zbekistonda kimyo fanining tashkilotchilaridan biri edi. Uning
                    nomi Oʻrta Osiyo yovvoyi florasining tabiiy birikmalarini oʻrganishni amaliy qoʻllash bilan bogʻliq.
                </p>
                <p>A.S. Sodiqov O‘zbekistonda kimyo fanining yangi yo‘nalishi – bioorganik kimyo bo‘yicha
                    tadqiqotlarning tashabbuskori, zamonaviy fizik-kimyoviy va nazariy usullar (spektroskopiya, kvant
                    kimyosi, nozik organik sintez, konformatsion analiz, kimyoviy tuzilmalar va xossalarni matematik
                    modellashtirish) asosidagi yangi yondashuv va qarashlardir. ).</p>
                <p>500 dan ortiq ilmiy ishlar, shu jumladan 7 ta monografiya muallifi.</p>
                <p>10 dan ortiq fan doktorlari va 80 dan ortiq fan nomzodlari tayyorlandi.</p>
            
            </section>
            
            <section class = "Director">
                <h2>Abduvaxabov A.A. (1987-1993)</h2>
                <img src="{% static 'History/Directors/image/abduvaxobov.png' %}" alt="">
                <p>Kimyo fanlari doktori (1980), professor (1981), akademik (1995) Abduvali Abdusamatovich Abdusamatov -
                    organik, bioorganik va organoelementlar kimyosi sohasidagi yirik olim.</p>
                <p>O‘zbekiston Respublikasi Fanlar akademiyasi Bioorganik kimyo bo‘limi fosfororganik birikmalar
                    laboratoriyasi mudiri (1977), Akademik A.S.Sodiqov nomidagi Bioorganik kimyo instituti direktori
                    (1987-1993), a’zosi bo‘lib ishlagan. O‘zbekiston Respublikasi Fanlar akademiyasi Prezidiumi
                    (1992-200), akademik kotibi (1987-1992), O‘zbekiston Respublikasi Fanlar akademiyasi
                    vitse-prezidenti (1995-1997), “Ixtirochi” ordeni bilan taqdirlangan. Rossiya” koʻkrak nishoni va
                    Rossiya xalq xoʻjaligi yutuqlari koʻrgazmasining kumush medali (1983, 1986), “Mehnat faxriysi”
                    (1988), “Mustaqillik” (1992) medallari bilan taqdirlangan.</p>
                <p>Akademik A.A.Abduvahobov sintez (7000 dan ortiq birikmalar)ning ilmiy yo‘nalishi va maktabini
                    yaratdi, fosfororganik birikmalarning tuzilishi, stereokimyosi va moddalarning issiq qonli hayvonlar
                    va hasharotlarning xolinergik sistemalari bilan o‘zaro ta’sir qilish mexanizmini o‘rgandi.</p>
                <p>Akademik A.A.Abduvahobov rahbarligida O‘rta Osiyo mintaqasida birinchi marta zararkunanda
                    feromonlarini ajratib olish, tuzilishini o‘rnatish, sintez qilish, preparativ shaklini ishlab
                    chiqish va dala sharoitida foydalanish bo‘yicha tadqiqotlar olib borildi. Hozirgi kunda
                    Respublikamiz dalalarida g‘o‘zani zararkunandalardan himoya qilish uchun g‘o‘za va qishki
                    chuvalchang feromonlaridan keng foydalanilmoqda.</p>
                <p>Abduvaxabov A.A.ning ilmiy faoliyati. AQShda nashr etilgan "Fan va texnologiyada kim kim" biografik
                    soniga kiritilgan (1996).</p>
                <p>300 dan ortiq ilmiy ishlar, shu jumladan 5 ta monografiya, 10 ta mualliflik guvohnomalari va
                    patentlar muallifi.</p>
                <p>7 nafar fan doktori va 27 nafar fan nomzodi tayyorlandi.</p>
            </section>

            <section class = "Director">
                <h2>Solixov Sh.I. (1993-2022)</h2>
                <img src="{% static 'History/Directors/image/Salixov.jpg' %}" alt="">
                <p>Shavkat Ismoilovich Salixov — bioorganik kimyo sohasidagi sovet va oʻzbek olimi, biologiya fanlari
                    doktori, professor, Oʻzbekiston Fanlar akademiyasi akademigi (1995). 1944 yil 12 dekabrda Toshkent
                    shahrida tug‘ilgan. Toshkent Davlat universitetini tugatgan (1967). Biologiya fanlari doktori
                    (1984), professor (1989), O‘zbekiston Respublikasi Fanlar akademiyasi akademigi (1995). Oʻzbekiston
                    Respublikasida xizmat koʻrsatgan fan arbobi (1998), Xitoy Fanlar akademiyasining xorijiy aʼzosi
                    (2017). “El-yurt xurmati” ordeni (2008), “Mehnat shuhrati” (2014), “Fan va texnologiya sohasida
                    xalqaro hamkorlik 2017” (XXR) mukofotlari bilan taqdirlangan.</p>
                <p>Oʻzbekiston Fanlar akademiyasi Bioorganik kimyo instituti laboratoriya mudiri (1981), direktor
                    (1993—2006). 2006 yilning martidan 2017 yil yanvarigacha O‘zbekiston Respublikasi Fanlar akademiyasi
                    prezidenti. O‘zbekiston Respublikasi Oliy Majlisi senatori (2006-2017). O‘zbekiston Respublikasi
                    Fanlar akademiyasi Bioorganik kimyo instituti direktori (2017-2022).</p>
                <p>U bioorganik kimyo va biotexnologiya sohasidagi faoliyati bilan dunyo ilm-fanida keng tanilgan,
                    Respublikamizda oqsillar kimyosi maktabining asoschilaridan biri hisoblanadi. Uning hayvonlar
                    zaharidan oqsil va peptidlarni o‘rganish bo‘yicha ilmiy ishlari keng ilmiy jamoatchilik tomonidan
                    e’tirof etilgan. Solihov Sh.I. rahbarligida. Gossipolni izolyatsiya qilishning yangi texnologiyasi
                    ishlab chiqildi va joriy etildi. Bir qator dorilar yaratildi - xlamidiyaga qarshi "Gozalidon",
                    gemostatik "Lagoden" preparati, qon o'rnini bosuvchi Salgivin, yallig'lanishga qarshi
                    "Apikapsalvin", immunomodulyatsiya qiluvchi "Timoptin", "Ragosin" - virusli gepatitni davolash uchun
                    antiviral dori. B, C, D va Rutan preparati - o'rtacha og'irlikdagi va o'pkasi 30% gacha
                    shikastlangan COVID-19 koronavirus infektsiyasini davolash uchun antiviral preparat, shuningdek
                    kattalar uchun grippning barcha shtammlariga qarshi.</p>
                <p>Xitoy Xalq Respublikasi Fanlar akademiyasi akademik Salixov Sh.I. Fan va texnika sohasidagi ulkan
                    hissasi, Xitoy Fanlar akademiyasi bilan samarali hamkorligi, iqtidorli olimlarni tayyorlash va ilmiy
                    saviyani oshirishda muhim rol o‘ynagani uchun 2016-yilda “Xitoy Fanlar akademiyasining xalqaro ilmiy
                    hamkorlik mukofoti” innovatsion iste'dodlar va yuqori malakali olimlarni tayyorlash orqali Xitoy
                    Fanlar akademiyasining tadqiqotlari, innovatsiyalari va rivojlanishi; yirik ilmiy loyihalarni
                    tashkil etish va amalga oshirishga qo‘shgan hissasi uchun. </p>
                <p>Akademik Shavkat Ismoilovich Salixov 2017-yilda Xitoy Fanlar akademiyasining ilmiy yutuqlari va
                    Xitoyda fan va texnologiya rivojiga qo‘shgan hissasi uchun xorijiy a’zo etib saylangan. Sh.I.
                    Solihov Xitoy Fanlar akademiyasi akademikligiga MDH davlatlaridan saylangan birinchi O‘zbekiston
                    fuqarosi va ikkinchi olim bo‘ldi.</p>
                <p>350 dan ortiq ilmiy ishlar, shu jumladan 2 ta monografiya, 56 ta ixtiro muallifi, 50 dan ortiq patent
                    olgan.</p>
                <p>9 nafar fan doktori va 26 nafar fan nomzodini tayyorlagan.</p>
            </section>
        </div>
    </div>
{% endblock %}