{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'History/History/css/History.css' %}">
{% endblock %}

{% block title %}
    Institut tarixi
{% endblock %}




{% block content %}
    <div class = "conteiner">
        <section class = "History">
            <div>
                <h1>Institut tarixi</h1>
                <p>Bioorganik kimyo instituti O‘zbekiston Respublikasi Fanlar akademiyasi Prezidiumining 1977-yil
                    iyuldagi qarori bilan 1973-yilda tashkil etilgan O‘zbekiston Respublikasi Fanlar Akademiyasining
                    Bioorganik kimyo bo‘limi negizida tashkil etilgan. Institut tashkil etilishidan oldingi davr
                    kimyoning yangi yo'nalishi - bioorganik kimyoning jadal rivojlanishining boshlanishiga to'g'ri
                    keldi, bu biologik muhim birikmalarning tuzilishi va ularning tirik hujayradagi funktsiyalari
                    o'rtasidagi bog'liqlikni aniqlash uchun ishlatiladi. Organik kimyo usullari, fizik-kimyoviy
                    biologiya va bioorganik kimyo sohasidagi fundamental ishlar zamonaviy biotexnologiyaga asos soldi.
                </p>

                <p> Institutning tashkil etilishi va rivojlanishi atoqli kimyogar akademik Abid Sodiqovich Sodiqov nomi
                    bilan uzviy bog‘liq bo‘lib, u tashkil etilgan kundan boshlab institut tashkilotchisi va rahbari
                    bo‘lgan. O‘zbekistonda bioorganik kimyo fanini rivojlantirishdagi beqiyos xizmatlari inobatga
                    olinib, 1987 yilda institutga ushbu olimning nomi berildi.</p>

                <p> Akademik Abid Sodiqovich Sodiqov – O‘zbekiston Respublikasida kimyo fanining tashkilotchilaridan
                    biri. Uning nomi tabiiy birikmalar, o'simlik va hayvonot manbalarining biologik faol birikmalari
                    kimyosidagi tadqiqotlarning rivojlanishi bilan bog'liq. A.S. Sodiqov O‘zbekistonda kimyo fanining
                    yangi yo‘nalishi – bioorganik kimyo bo‘yicha tadqiqotlar, zamonaviy fizik-kimyoviy va nazariy
                    usullarga asoslangan yangicha yondashuv va qarashlar tashabbuskori bo‘ldi.</p>

                <p> ToshDU kimyo fakultetining tabiiy birikmalar kimyosi laboratoriyasi va kafedrasi negizida 1973 yilda
                    Bioorganik kimyo kafedrasi tashkil etilib, 1977 yilda Fanlar akademiyasi Bioorganik kimyo
                    institutiga aylandi. Ushbu institutga 1988 yilda A. Sodiqov vafotidan keyin haqli ravishda akademik
                    A.S. Sodiqova. Institutning asosiy yo'nalishi tabiiy kelib chiqadigan moddalarni o'rganish edi.
                    Fundamental tadqiqotlarning rivojlanishiga Oʻrta Osiyoning yovvoyi oʻsimlik dunyosi va paxta kabi
                    qimmatli texnik oʻsimlik asos boʻldi. Har xil o'simlik turlaridan ko'plab yangi birikmalar
                    ajratilgan va har tomonlama o'rganilgan, shu jumladan xinolizidin seriyasining 80 ga yaqin
                    alkaloidlari (spartein, matrina va sitizin guruhining alkaloidlari) va izokinolin va troponol
                    seriyasining 30 dan ortiq alkaloidlari (alkaloidlar). kolxisin guruhining, kolxisinning allo- va
                    lumi-hosilalari, dipiridil guruhining asoslari.</p>

                <p> Bioorganik kimyo instituti faoliyatida Markaziy Osiyodagi hayvonlar zaharlarining eng muhim
                    biopolimerlari, neyrotoksinlari va fiziologik faol moddalari, shuningdek, past molekulyar
                    og‘irlikdagi oqsillar va ikkilamchi metabolitlarni strukturaviy va funksional o‘rganish bilan
                    bog‘liq muammolarga asosiy e’tibor qaratildi. o'simlik kelib chiqishi. Har xil turdagi
                    artropodlarning zaharlaridan ajratilgan yangi yuqori o'ziga xos toksinlarning fundamental
                    tadqiqotlari ularning tuzilishini, ta'sir qilish mexanizmini va neyrofiziologik tadqiqotlar uchun
                    "qurol" sifatida ishlatilishini o'rganish uchun olib borildi (Akademik Sh.I.Solihov). Bir qator
                    o'rganilgan yuqori o'ziga xos neyrotoksinlardan foydalanish biologik membranalarning strukturaviy va
                    molekulyar tashkil etilishining o'ziga xos xususiyatlari bilan bog'liq tirik hujayralarda sodir
                    bo'ladigan ba'zi hayotiy jarayonlarning mexanizmlarini ochib berishga imkon berdi.</p>

                <p> Murakkab hujayra ichidagi shakllanishlarning strukturaviy xususiyatlari (ribosoma oqsillarining RNK,
                    nukleohistonlar, hayvon hujayralarining xromatini bilan), oqsil-nuklein kislotasi o'zaro ta'sirining
                    o'ziga xosligi bo'yicha chuqur tadqiqotlar olib borildi, bunda genetik jarayonlarning amalga
                    oshirilishini tartibga solishni belgilaydi. hujayralardagi ma'lumotlar. Konformatsion
                    o'zgarishlarning yadro oqsillarining kimyoviy tuzilishini va genomning funktsional jihatdan muhim
                    hududlarini o'zgartirishdagi roli aniqlandi. Turli xil antijenlarga monoklonal antikorlarni ishlab
                    chiqaradigan uch qator duragaylar olindi: paxtaning lektinsimon va membrana oqsillari va past
                    molekulyar og'irlikdagi neyropeptid. Metotreksatga chidamli bir qancha hujayra chiziqlari ishlab
                    chiqilgan va qarshilik mexanizmi o‘rganilgan (prof. V.B. Leontyev, t.f.n. Yu.S.Mangutova).</p>

                <p> Alkaloidlar va tegishli geterotsikllar asosida fiziologik faol birikmalarni maqsadli sintez qilishga
                    alohida e'tibor qaratildi. Ko'p miqdordagi fosfor hosilalarini sintez qilish shartlari ishlab
                    chiqilgan va optimallashtirilgan, alkaloidlar va azot saqlovchi geterotsikllarni o'z ichiga olgan
                    fosfor va karbamik kislotalarning efirlarini sintez qilishning assimetrik usuli taklif qilingan
                    (Akademik A.A.Abduf.N.Dalimov, Prof.D.N.) . Fosfor kislotasining alkaloidlari va efirlari asosida
                    300 dan ortiq yangi moddalar sintez qilindi, ularning ko'pchiligi o'ziga xos xususiyatlarga ega
                    biologik faol moddalar bo'lib chiqdi. Ular orasida xolinesteraza substrati sifatida foydalanish
                    tavsiya etiladigan morfolin yodometilat (N-b-atsetoksietil) mavjud.</p>

                <p>Fiziologik faol birikmalarning biologik va sun'iy membranalarning tuzilishi va faoliyatiga ta'sirini
                    o'rganish bo'yicha tadqiqotlar olib borildi. Biomembranalar tuzilishining buzilishi bilan bog'liq
                    bo'lgan pestitsid faolligi bo'lgan fosfororganik va geterotsiklik birikmalarning toksik ta'sirining
                    sabablari aniqlangan (akademik T.F.Aripov).</p>

                <p>Obid Sodiqovich Sodiqov boshlagan paxta izlanishlari nihoyatda samarali bo'ldi. G‘o‘zaning turli
                    generativ va vegetativ organlaridan, jumladan, organik aminokislotalar, uglevodlar, yuqori
                    molekulyar uglevodorodlar va spirtlar, ko‘plab polifenol birikmalaridan 100 dan ortiq individual
                    birikmalar ajratilgan (prof. A.I. Ismoilov).</p>

                <p>A.S.ning tashabbusi bilan. Sodiqov institutda 1983 yilda an'anaviy qishloq xo'jaligi fanini yangi
                    navlarni biotexnologik ishlab chiqarishga o'tkazish imkonini beradigan g'o'za shakllarini yaratishga
                    qaratilgan g'o'zaning genetik va uyali muhandisligi bo'yicha ish boshladi. Zamonaviy
                    texnologiyalarni ishlab chiqish, olimlar tomonidan paxta genomikasi sohasida olib borilgan keng
                    ko‘lamli tadqiqotlar paxta yetishtirishga ulkan hissa qo‘shgan salmoqli natijalarga erishildi.</p>

                <p>Institutda A.S.Sodiqov rahbarligida hasharotlar feromonlari yordamida oʻsimliklarni himoya qilishning
                    biologik usullarini ishlab chiqish boʻyicha ilmiy izlanishlar olib borildi. Gʻoʻzaning eng muhim
                    zararkunandalari – gʻoʻza va qishki chuvalchanglar, gʻoʻza kuyalari, karadrina, toʻgʻridan-toʻgʻri
                    chuvalchanglar, shuningdek, gʻoʻzalar va boshqalarning feromonlarini sintez qilish ishlari olib
                    borildi.Gʻoʻza, gʻalla va gʻallaning asosiy zararkunandalariga qarshi feromon tuzoqlaridan keng
                    foydalanish. oziq-ovqat ta’minoti istiqbolli. Bu ishlarning asosiy natijasi qishloq xo‘jaligida
                    amaliy qo‘llanilishidir.</p>

                <p>Institutda bir necha yillar davomida A.S. Sodiqov ruda va konsentratlardan metallarni bakterial
                    yuvish ishlarini olib bordi. Turli fiziologik faollikka ega mikroorganizmlarning bir qator
                    shtammlari ajratilgan. Institutda ishlab chiqilgan usul bilan ajratilgan tion bakteriyalari
                    populyatsiyalarining fizik-biologik xususiyatlari o‘rganildi. O'tga chidamli oltin o'z ichiga olgan
                    konsentratlarni asosiy mahsulotda boyitish maqsadida metallarni bakterial yuvish texnologiyasi
                    ishlab chiqilgan. Keyinchalik bu ish O‘zbekiston Respublikasi Fanlar akademiyasi Mikrobiologiya
                    institutida (Sagdieva M.G., Kukanova S.I.) davom ettirildi.</p>

                <p>Akademik Abduvaxabov Abduvali Abdusamatovich 1987-1993 yillarda institutga rahbarlik qilgan.
                    Abduvaxabov A.A. – organik, bioorganik va organoelementlar kimyosi sohasidagi yirik tadqiqotchi.
                    Uning rahbarligida turli xil yangi (fosforli) organik (7000 dan ortiq) birikmalarni sintez qilish,
                    strukturasini, stereokimyosini o'rnatish, moddalarning issiq qonli xolinergik tizimlar bilan o'zaro
                    ta'sir qilish mexanizmini o'rganish bo'yicha fundamental tadqiqotlar olib borildi. hayvonlar va
                    hasharotlar. Tadqiqotlar natijasida o‘simlik zararkunandalariga qarshi qo‘llaniladigan turli
                    tabiatdagi pestitsidlarning sinergistlari aniqlandi.</p>

                <p>Oʻrta Osiyo mintaqasida birinchi marta Abduvaxabov A.A. Dala sharoitida zararkunanda feromonlarini
                    ajratib olish, tuzilishini oʻrnatish, sintez qilish, preparativ shaklini yaratish va ulardan
                    foydalanish boʻyicha tadqiqotlar boshlandi. Tadqiqotlar natijasida g‘o‘za chuvalchangining ikki
                    komponentli jinsiy feromoni, qishki chuvalchangning jinsiy feromoni komponentlari, qoraqo‘rg‘on, uy
                    pashshasi, chuvalchangsimon chuvalchang va boshqa zararkunandalarni sintez qilish usullari ishlab
                    chiqildi, ularning optimal nisbatlari ishlab chiqildi. komponentlar aniqlangan va preparativ
                    shakllar yaratilgan. Hozirgi kunda Respublikamiz dalalarida g‘o‘zani zararkunandalardan himoya
                    qilish uchun g‘o‘za va qishki chuvalchang feromonlaridan keng foydalanilmoqda. Olingan ilmiy
                    natijalar ilmiy jamoatchilik tomonidan e'tirof etilgan: Abduvaxabov A.A.ning ilmiy faoliyati. AQShda
                    chop etilgan "Fan va texnologiyada kim kim" biografik soniga kiritilgan.</p>

                <p>Laboratoriyada olib borilgan tadqiqotlarning asosiy yo‘nalishi tabiiy va sintetik fiziologik faol
                    birikmalarni sintez qilish va struktura-funksional bog‘lanishlarini o‘rganish hamda ularni
                    modifikatsiyalashdan iborat bo‘ldi. Asosiy ob'ektlar tabiiy (feromonlar, attraktorlar, alkaloidlar
                    va o'simlik va hayvonlarning hayotiy funktsiyalariga ta'sir qiluvchi boshqa birikmalar) va sintetik
                    (organofosfor birikmalari, turli xil konformatsiyadagi qo'sh bog'larni o'z ichiga olgan moddalar,
                    tabiiy birikmalarning analoglari) past molekulyar bioregulyatorlar edi.</p>

                <p>Akademik Shavkat Ismoilovich Salixov 1994 yildan 2006 yilgacha institutga rahbarlik qilgan. va 2017
                    yil yanvaridan hozirgi kungacha.</p>

                <p>Shavkat Ismoilovich Solihov bioorganik kimyo va biotexnologiya sohasidagi faoliyati bilan jahon
                    ilm-fanida keng tanilgan, Respublikamizda oqsillar kimyosi maktabining asoschilaridan biri
                    hisoblanadi.</p>

                <p>Akademik Salixovning ilmiy izlanishlari Sh.I. biologik faol birikmalarni strukturaviy va funksional
                    o'rganish bilan bog'liq muammolarga qaratilgan. Talabalar bilan hamkorlikda turli turdagi
                    artropodlarning zaharlaridan ajratilgan yangi yuqori o‘ziga xos zaharli moddalar bo‘yicha chuqur
                    fundamental tadqiqotlar olib borildi, ularning tuzilishi, ta’sir mexanizmi va neyrofiziologik
                    tadqiqotlar uchun “vositalari” sifatida foydalanish o‘rganildi. 50 dan ortiq fiziologik faol
                    oqsillar va toksik ta'sirga ega peptidlar aniqlangan. Ulardan 15 tasining kimyoviy tuzilishi
                    aniqlangan. Har xil turdagi artropodlarning zaharlaridan ajratilgan yuqori o'ziga xos toksinlarni
                    o'rganish bizga biologik membranalarning strukturaviy va molekulyar tashkil etilishining o'ziga xos
                    xususiyatlari bilan bog'liq bo'lgan tirik hujayralarda sodir bo'ladigan hayotiy jarayonlarning
                    mexanizmlarini tushunishga yaqinlashishiga imkon berdi. Tadqiqotning amaliy yakuni kobra, chayon va
                    karakurt zaharlariga qarshi antiserumlarning yaratilishi bo'lib, bu erda ajratilgan neyrotoksinlar
                    antikor sifatida ishlatilgan.</p>

                <p>G‘o‘zaning o‘sishi va rivojlanishi jarayonlarini o‘rganishda g‘o‘za gormonini bog‘lovchi oqsillarning
                    tuzilishi va funksiyasini o‘rganishda muhim natijalarga erishildi. G‘o‘zadan fitohormonlar
                    retseptorlari ajratib olindi va ularning fizik-kimyoviy xossalari o‘rganildi, g‘o‘za bargining
                    tushishidagi tartibga soluvchi roli isbotlandi. G‘o‘za defoliatsiyasi jarayonida sodir bo‘ladigan
                    jarayonlarning molekulyar mexanizmlari o‘rganildi. Ushbu tadqiqotlar asosida defoliatsiya va
                    o'sishni rag'batlantiruvchi faollikka ega birikmalar uchun skrining mezonlari ishlab chiqilgan.</p>

                <p>Birinchi marta o'simliklarning insekto- va qo'ziqorin toksikligida Malvaceae oilasiga mansub
                    o'simliklardan terpenoidlarning roli aniqlandi. Malva sylvestrisdan yangi fitoaleksin Malvon A
                    ajratib olindi va aniqlandi.Gʻoʻzaning koʻsak qurtiga chidamliligini baholash usuli ishlab chiqildi.
                </p>

                <p>Akademik Salixov rahnamoligida Sh.I. Oʻsimliklarning mikroblarga va zamburugʻlarga qarshi faolligi
                    namoyon boʻlishining molekulyar mexanizmlarini oʻrnatish maqsadida birinchi marta Oʻrta Osiyoga
                    endemik oʻsimliklar urugʻlari va koʻchatlarida kationik peptidlarni tizimli oʻrganish boshlandi.
                    Natijada O‘rta Osiyoga endemik o‘simliklardan ekinlarni gen injeneriyasida foydalanish uchun
                    qiziqish va istiqbolli peptidlar ajratildi. Lipidlarni o'tkazuvchi oqsillar (LPP) ajratilgan va
                    o'rganilgan, ular qo'ziqorin faolligini ko'rsatadi va membranalar, xitinlarning biogenezida va
                    patogen hujumga qarshi o'simliklarni himoya qilish reaktsiyalarida ishtirok etadi. Birinchi marta
                    Malvaceae urug'lari va an'anaviy oziq-ovqat o'simliklaridan olingan biosidal peptidlarning
                    fizik-kimyoviy xususiyatlari, mikroblarga qarshi va insektitsid faolligini tizimli o'rganish amalga
                    oshirildi.</p>

                <p>O'simlik materiallaridan fitopatogen faollikka ega 20 dan ortiq bir hil peptidlar ajratilgan.
                    Ularning molekulyar parametrlari va aminokislotalar ketma-ketligi aniqlandi. Ularning fitopatogen
                    faolligi aniqlangan. Olingan peptidlar transgen paxta navlarini yaratish uchun marker sifatida
                    qiziqish uyg'otadi.</p>

                <p>Sedan urug'laridan peptidlarning tuzilishi va funktsiyasi o'rganildi, farmatsevtik tarkibi ishlab
                    chiqildi va uning kuyishga qarshi va yaralarni davolovchi faolligi sinovdan o'tkazildi. Sedan
                    urug'laridan polipeptidlarni o'z ichiga olgan dorivor kompozitsiyani ishlab chiqarish texnologiyasi
                    ishlab chiqilgan. Olingan kompozitsiya to'qimalarni qayta tiklash va yaralarni davolovchi faolligi
                    bo'yicha mavjud xorijiy analoglardan ustun ekanligi aniqlandi.</p>

                <p>Virusga qarshi faollikni ko'rsatadigan biologik faol birikmalarni ajratish va bioskrining bo'yicha
                    bir qator tadqiqotlar o'tkazildi. Polifenolik tabiatdagi biologik faol birikmalarning antiviral,
                    antixlamidiya, immunomodulyator, OITSga qarshi ta'sir qilish mexanizmlari ochib berilgan.
                    Annacardeae, Geranaceae, Punicaceae, Euphorbeaceae, Malvaceae va boshqalar oilalariga mansub 70 dan
                    ortiq o'simliklarning polifenollarining kimyoviy tarkibi o'rganilib, ulardan 150 dan ortiq moddalar
                    ajratilgan bo'lib, ulardan 20 dan ortig'i ilgari tavsiflanmagan yangi birikmalar bo'lib chiqdi.
                    adabiyotda. Ushbu tadqiqotlar natijalari asosida birinchi marta respublikamiz tibbiyot amaliyotida
                    qo'llanilgan original virusga qarshi, yallig'lanishga qarshi, gemostatik va boshqa faol preparatlar
                    ishlab chiqildi: "Ragosin tabletkalari 0,05 g" № 12 - uchun. virusli gepatit B, C, D davolash;
                    "Gozalidon tabletkalari 0,05" - antichlamydial dori; "Megosina malhami 1%" antiherpetik vositadir;
                    "In'ektsiya uchun mos" - gemostatik dori; Rutan va Gossitan - grippga qarshi dorilar; Getasan va
                    Punitan - OITSga qarshi dorilar; Providin - antihipoksik dori; Gosfen - antitumor dori; Apikapsalvin
                    - yallig'lanishga qarshi dori; Timoptin - immunomodulyator; Erytim - anemiyaga qarshi dori;
                    Kalsitonin hipokalsemik vositadir; Aflan - steroid bo'lmagan yallig'lanishga qarshi dori; Biocor -
                    antitumor oqsilli preparat; Cardin - trombozning oldini olish uchun.</p>

                <p>Solihov Sh.I. rahbarligida. Koʻsak qurti feromonlarini sintez qilishning yangicha yondashuvi ishlab
                    chiqildi. Institutda tajriba asosida g‘o‘za va qishki chuvalchanglarga qarshi feromon tuzoqlari
                    to‘plamlarini ishlab chiqarish yo‘lga qo‘yilib, yiliga 1 million donadan ortiq ishlab chiqariladi.
                    Institut 1997 yildan Respublikamiz paxta yetishtiruvchi fermer xo‘jaliklarini g‘o‘za va qishki
                    chuvalchanglarga qarshi feromon tuzoqlari to‘plamlari bilan to‘liq ta’minlash, shu orqali
                    respublikani ularning importidan ozod qilish hamda har yili 1,5 million AQSH dollaridan ortiq
                    mablag‘ni tejash imkonini beradi.</p>

                <p>Solihov Sh.I. rahbarligida. Respublikada birinchi marta uyali texnologiyalar asosida elita sinflari
                    asosida urug‘lik kartoshka ishlab chiqarish texnologiyasi ishlab chiqildi. Hozirda bu texnologiya
                    Respublikamizda muvaffaqiyatli joriy etilmoqda.</p>

                <p>Akademik Salixov Sh.I. xalqaro hamkorlikni, jumladan, Germaniya, Xitoy Xalq Respublikasi, Koreya
                    Respublikasi, Rossiya va dunyoning boshqa davlatlarining ilmiy tashkilotlari bilan xalqaro
                    ilmiy-texnik dasturlar doirasidagi hamkorlikni rivojlantirishga katta ahamiyat beradi.</p>

                <p>Akademik Turayev Abbosxon Sobirxonovich 2006-2017 yillarda institut direktori.</p>

                <p>A.S.Toʻraev polisaxaridlar va gidrofil makromolekulyar tizimlarni kimyoviy va tibbiy-biologik
                    jihatdan oʻrganish, ular asosida belgilangan xossalarga ega boʻlgan maqsadli dori vositalari va
                    jarrohlik buyumlarini ishlab chiqarish boʻyicha ilmiy maktab yaratdi. U bioorganik kimyo fanini
                    boyitgan chuqur fundamental tadqiqotlari, polisaxaridlarni modifikatsiyalashning yangi
                    qonuniyatlari, gidrofil makromolekulyar tizimlar sintezi va bu tizimlarning tirik organizm bilan
                    oʻzaro taʼsir mexanizmini oʻrnatishi bilan mashhur.</p>

                <p>A.S.Toʻraev polisaxaridlar-tsellyuloza, pektin, galaktanlar, amiloza va gidrofil sopolimerlar, akril
                    seriyalarni maqsadli kimyoviy modifikatsiyalash boʻyicha keng qamrovli tadqiqotlar olib boradi. Ular
                    asosida turli funksional guruhlar va molekulyar parametrlarga ega makromolekulyar tizimlar, jumladan
                    molekulalararo oʻzaro bogʻlangan, yuqori shishiradigan gellar olingan. Ushbu tadqiqotlar natijasida
                    biomoslashuvchan, toksikligi past, so'rilishi mumkin bo'lgan va so'rilmaydigan makromolekulyar
                    tizimlar yaratildi, ular asosida dori vositalari va original jarrohlik mahsulotlari ishlab chiqildi.
                    Kimyoviy va supramolekulyar tuzilmalarni, makromolekulyar asosning molekulyar parametrlarini
                    o'rganish va ularning tibbiy va biologik xususiyatlarini (farmakologik, biokimyoviy, gistologik,
                    morfologik, shu jumladan "tuzilma-xususiyatlari") o'rganish orqali ularning o'zaro ta'sirining bir
                    qator o'ziga xos xususiyatlari. tirik organizm yaratilgan. Birinchi marta isbotlanganki, har qanday
                    turdagi tsellyuloza va sopolimerlar, akril kislotaning molekulalararo o'zaro bog'langan hosilalari
                    tanaga kiritilganda, tananing javobi zich biriktiruvchi to'qima hosil bo'lishi, ya'ni. implant
                    rezorbsiyaga duchor bo'lmaydi, gidrofil (karboksimetil, karboksil va boshqalar) tsellyuloza
                    hosilalari esa 0,1 almashinish darajasidan boshlab, molekulyar parametrlarga va supramolekulyar
                    tuzilishga qarab to'liq rezorbsiyadan o'tadi. Ushbu fundamental tadqiqotlar tsellyuloza va uning
                    hosilalari, shuningdek, akril sopolimerlari asosida so'riladigan va so'rilmaydigan jarrohlik
                    mahsulotlarini yaratish uchun asos bo'ldi.</p>

                <p>A.S. rahbarligida. To'raev tomonidan yangi ilmiy yo'nalish - proteoglikan tuzilishga ega bo'lgan
                    polisaxaridlar va ularning modifikatsiyalangan analoglarining biologik funksiyasini o'rganish va
                    ular asosida yangi avlod antibakterial va virusga qarshi dori vositalarini yaratish boshlandi.
                    Ikkinchisi, organizm hujayralarining patogen tomonidan infektsiyasi patogen glikoproteinlarning
                    (tanib olish sohalari) sog'lom hujayra membranasida joylashgan proteoglikanlar bilan o'zaro ta'siri
                    natijasida, "kalit" kabi o'zaro ta'sir qiluvchi tuzilmalarning fazoviy bir-birini to'ldirishi
                    tufayli sodir bo'ladi. va qulflang." Birinchi marta polianion tuzilishga ega polisaxaridlar asosida
                    leykemiya, gepatit C va OIV viruslari glikoproteinlarini to'ldiruvchi proteoglikanga o'xshash
                    tuzilmalar olindi. Aniqlanishicha, sulfatlangan b-glyukanlar sulfatlangan a-glyukanlarga nisbatan
                    eng aniq antiviral faollikka ega.</p>

                <p>A.S.Toʻraev yangi original dori vositalari va jarrohlik buyumlari: jarrohlik iplari, qon toʻxtatuvchi
                    materiallar, makromolekulyar terapevtik preparatlar, yumshoq preparatlar, emboliya materiallarini
                    ishlab chiqdi va tibbiyot amaliyotiga kiritdi.</p>
            </div>
        </section>
    </div>
    
{% endblock %}