{% extends 'uz/layoutUZ.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Management/css/Management.css' %}">
{% endblock %}


{% block title %}
    Boshqaruvi
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <h1>Institut boshqaruvi</h1>

            <section class="Supervisor">
                <h2>O‘zbekiston Respublikasi Fanlar akademiyasi Bioorganik kimyo instituti direktori</h2>
                <h2>To'raev Abbosxon Sobirxonovich</h2>
                <img src="{% static 'Management/image/Turayev.jpg' %}" alt="">
                <p>Abbosxon Sobirxonovich Toʻrayev – kimyo fanlari doktori (1993), professor (1994), Oʻzbekiston
                    Respublikasi Fanlar akademiyasi akademigi (2018). O‘zbekiston Respublikasida xizmat ko‘rsatgan
                    ixtirochi va ixtirochi (2003), “Fidokorona xizmatlari uchun” ordeni (2012).</p>
                <p>Toshkent Davlat universitetini tugatgan (1970).</p>
                <p>Paxta tsellyulozasi kimyosi va texnologiyasi ilmiy-tadqiqot instituti laboratoriya mudiri (1984 –
                    1993), O‘zbekiston Respublikasi Fanlar akademiyasi Bioorganik kimyo instituti laboratoriya mudiri
                    (1993 – 1996), direktorning ilmiy ishlar bo‘yicha o‘rinbosari. O‘zbekiston Respublikasi Fanlar
                    akademiyasi Bioorganik kimyo instituti ilmiy ish (1996 – 2006), O‘zbekiston Respublikasi Fanlar
                    akademiyasi Bioorganik kimyo instituti direktori (2012 – 2017), ilmiy ishlar bo‘yicha direktor
                    o‘rinbosari O‘zbekiston Respublikasi Fanlar akademiyasi Bioorganik kimyo instituti (2017-2022).</p>
                <p>2022 yildan hozirgacha Bioorganik kimyo instituti direktori.</p>
                <p>A.S. Toʻrayev rahbarligida polisaxaridlar – sellyuloza, pektin, galaktomannanlar, amiloza va
                    gidrofil sopolimerlar, akril seriyalarni maqsadli kimyoviy modifikatsiyalash boʻyicha keng qamrovli
                    tadqiqotlar olib bordi. Ular asosida turli funktsional guruhlar va molekulyar parametrlarga ega
                    bo'lgan makromolekulyar tizimlar olingan. Ushbu tadqiqotlar natijasida yigirmadan ortiq yangi
                    original dori vositalari yaratildi va tibbiyot amaliyotiga joriy etildi (Safinol, Sulfogel -
                    antikoagulyantlar, Savinal - qon o'rnini bosuvchi, Nitrosel - antianginal, Biomayrin - silga qarshi,
                    Poligel - ultratovush geli, Timogel, Bactocel - yarani davolovchi, Fludigel - dermatitga qarshi) va
                    jarrohlik mahsulotlari: so'rilishi mumkin bo'lgan iplar (Kacelon) va so'rilmaydigan (Biolon Ra,
                    Biolon Re, Biolon Rs), so'rilishi mumkin bo'lgan gemostatik materiallar (Hemocel, Hemosponge,
                    Bioplant) va qon bilan aloqa qiladigan mahsulotlar. (yiringli yaralarni davolash uchun embolik
                    polimer materiali, Geletcel va Chlorocel). Ushbu dori vositalaridan beshtasi O‘zbekiston
                    Respublikasi farmatsevtika korxonalari tomonidan litsenziya shartnomalari asosida ishlab
                    chiqariladi.</p>
                <p>350 dan ortiq ilmiy ishlar, 21 ta mualliflik guvohnomalari, 35 ta patentlar muallifi.</p>
                <p>4 nafar fan doktori va 16 nafar fan nomzodini tayyorlagan.</p>
            </section>

            <section class="Supervisor">
                <h2>Fan bo'yicha direktor o'rinbosari</h2>
                <h2>Oshchepkova Yuliya Igorevna</h2>
                <img src="{% static 'Management/image/yulia.jpg' %}" alt="">
                <p>Yuliya Igorevna Oshchepkova – kimyo fanlari doktori (2016), professor (2023).</p>
                <p>“Shuhrat” medali (2020), “Innovatsion g‘oyalar yetakchisi” ko‘krak nishoni (2022).</p>
                <p>O‘zbekiston Milliy universitetini tamomlagan (2005).</p>
                <p>Oqsillar va peptidlar kimyosi laboratoriyasi mudiri (2017-2022).</p>
                <p>2022 yildan hozirgacha Bioorganik kimyo instituti ilmiy ishlar bo‘yicha direktor o‘rinbosari.</p>
                <p>Yu.I. Oshchepkova bioorganik kimyo boʻyicha mutaxassis, xususan, oʻsimlik va hayvonlarning past
                    molekulyar bioregulyatorlari, oqsillari va peptidlari kimyosi (funktsiyasining tuzilishi va
                    mexanizmini oʻrganish) sohasida mutaxassis.</p>
                <p>Yu.I. Oshchepkova birinchi bo'lib Nigella sativa urug'lari va ko'chatlaridan bir qator yangi
                    mikroblarga qarshi peptidlarni ajratib oldi va o'rgandi. Ns-LTP1 lipid uzatish oqsili bo'yicha
                    olingan ma'lumotlar EMBL p86527 ma'lumotlar bazasida ro'yxatga olingan. Nigella urug'idan
                    mikroblarga qarshi peptidlar asosida "Sedanil" farmatsevtik kompozitsiyasi yaratilgan bo'lib, u
                    termik kuyishlar va mexanik jarohatlarda yiringli-septik asoratlarda yaralarni davolovchi
                    xususiyatlarga ega. Nigella sativa urug‘idan kam chiqindili foydalanish bo‘yicha kompleks
                    texnologiya ishlab chiqilgan bo‘lib, bu ish rentabelligini oshirish va mahsulot tannarxini
                    pasaytirish imkonini bermoqda. Urug' qoldiqlaridan o'simlik va hayvon yog'larining gidrolitik
                    parchalanishiga (suv ishtirokida parchalanishiga) olib keladigan "Niglesim" lipolitik fermentini
                    ishlab chiqarish texnologiyasi ishlab chiqilgan. Ushbu fermentni ichak tabletkalari va kapsulalari
                    shaklida xun takviyesi sifatida ishlab chiqarish rejalashtirilgan.</p>
                <p>Uning rahbarligida kardiolipin antigen moddasini olish texnologiyasi ishlab chiqildi va sifilis
                    diagnostikasi uchun klinik diagnostika laboratoriyalarida foydalanish uchun mo'ljallangan "AgCl-RMP"
                    mikropresipitatsiya reaktsiyasi uchun Kardiolipin Antigen reagentlari to'plami ishlab chiqarishga
                    kiritildi.</p>
                <p>240 ta nashr (shundan 50 tasi chet elda), 10 ta patent, 2 ta tovar belgisi muallifi.</p>
                <p>3 ta fan nomzodi tayyorlandi.</p>

            </section>

            <section class="Supervisor">
                <h3>Direktorning iqtisodiy masalalar bo'yicha o'rinbosari</h3>
                <h2></h2>
            </section>
        </div>
    </div>
{% endblock %}