{% extends 'main/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'SciDirection/css/SciDirection.css' %}">
{% endblock %}


{% block title %}
    НаправленияUZ
{% endblock %}



{% block content %}
    <div class = "conteiner">
        <div class = "content">
            <p> Institut faoliyatining maqsadi va predmeti hayotiy biomolekulalarning tuzilishi va ularning funksional faolligi
                oʻrtasidagi bogʻliqlikni oʻrganish hamda qishloq xoʻjaligi va qishloq xoʻjaligi uchun dori vositalari,
                stimulyatorlar, oʻsimliklarni himoya qilish vositalari va boshqa biologik obʼyektlar uchun yangi dori
                vositalarini ishlab chiqarishning ilgʻor texnologiyalarini yaratishdan iborat. oziq-ovqat sanoati.</p>
            <p>Ilmiy tadqiqotning asosiy yo'nalishlari:</p>
            
            <ul>
                <li> o'simlik va hayvon organizmlaridan sintetik asosda, oldindan belgilangan xossalarga ega yuqori samarali
                    biologik faol birikmalarni yaratish (izolyatsiya, sintez, modifikatsiya qilish);</li>
                <li> potentsial biologik faol birikmalarning maqsadli organik sintezi.</li>
                <li> biologik faol birikmalarning hujayra va molekulyar darajada ta'sir qilish mexanizmlarini o'rganish va ular
                    ta'sirining istiqbolli maqsadlarini aniqlash;</li>
                <li> tabiiy kelib chiqishi biologik faol birikmalarining tuzilishi va funksiyasini o‘rganish va ularni skrining
                    qilish;</li>
                <li> dori vositalarining biologik xavfsizligini baholash usullarini ishlab chiqish;</li>
                <li> original dori vositalari va generik dori vositalarini ishlab chiqarishning yangi texnologiyalarini
                    yaratish;</li>
                <li> hayvonot va o‘simlik xomashyosidan mahsulotlarni qayta ishlash bo‘yicha yuqori texnologiyali
                    texnologiyalarni yaratish va rivojlantirish;</li>
                <li> dori vositalari, oziq-ovqat mahsulotlari va o‘simliklarni himoya qilish kimyoviy vositalarining
                    bioxavfsizligini baholashning sertifikatlangan usullarini ishlab chiqish;</li>
                <li> qishloq xo‘jaligi ekinlarining rivojlanish jarayonlariga biotik va abiotik omillar ta’sirida
                    o‘simliklarning fitoimmuniteti induksiyasining molekulyar mexanizmlarini o‘rganish va ko‘payish, o‘sish va
                    rivojlanishni maqsadli tartibga solish uchun samarali birikmalar yaratish;</li>
                <li> ekologik toza o'sish stimulyatorlari va o'simliklarni himoya qilish vositalari va qishloq xo'jaligi
                    mahsulotlarini yaratish.</li>
            </ul>
        </div>
    </div>
{% endblock %}